@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.Tag,
:global(.usa-tag).Tag {
  @include u-radius('lg');
  @include u-font-size('body', 1);
  background-color: $theme-ultraviolet-base;
  text-transform: lowercase;
  display: inline-block;
  line-height: normal;

  // 4px 12px
  padding: units('05') units('105');
}

.Label,
:global(.usa-tag).Label {
  @include u-radius('md');
  @include u-font-size('body', 1);
  text-transform: none;
  display: inline-flex;
  align-items: center;
  line-height: normal;

  // 1px 12px 1px 8px
  padding: units(1px) units('105') units(1px) units(1);

  svg {
    margin-right: units('05');
  }

  &.Source {
    background-color: var(--source-tag-bg);
    color: var(--source-tag-text);
    svg {
      color: var(--source-tag-svg);
    }
  }
  &.Audience {
    background-color: var(--audience-tag-bg);
    color: var(--audience-tag-text);
    svg {
      color: var(--audience-tag-svg);
    }
  }
  &.Base {
    background-color: var(--base-tag-bg);
    color: var(--base-tag-text);
    svg {
      color: var(--base-tag-svg);
    }
  }
}

.Category,
:global(.usa-tag).Category {
  @include u-radius('sm');
  @include u-font-size('body', 1);
  text-transform: uppercase;
  display: inline-block;
  line-height: normal;

  // 6px 8px
  padding: 6px units(1);

  &.ExternalNews {
    background-color: $category-externalnews-lighttheme;
  }
  &.InternalNews {
    background-color: $category-application-lighttheme;
  }
  &.Announcement {
    background-color: $category-announcement-lighttheme;
  }
  &.Documentation {
    background-color: $category-documentation-lighttheme;
  }
  &.Application {
    background-color: $category-application-lighttheme;
  }
}
