@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.Tag,
:global(.usa-tag).Tag {
  @include u-radius('lg');
  font-size: 14px;
  background-color: $theme-ultraviolet-base;
  text-transform: lowercase;
  display: inline-block;
  line-height: normal;
}

.Label,
:global(.usa-tag).Label {
  @include u-radius('md');
  font-size: 14px;
  text-transform: none;
  display: inline-flex;
  align-items: center;
  line-height: normal;
  height: 23px;
  border-radius: 2px;

  @media (max-width: 440px) {
    height: auto;
  }

  svg {
    margin-right: units('05');
  }

  &.Source {
    background-color: var(--tag-source-bg);
    color: var(--tag-source-text);
    svg {
      color: var(--tag-source-svg);
    }
  }
  &.Audience {
    background-color: var(--tag-audience-bg);
    color: var(--tag-audience-text);
    svg {
      color: var(--tag-audience-svg);
    }
  }
  &.Base {
    background-color: var(--tag-base-bg);
    color: var(--tag-base-text);
    svg {
      color: var(--tag-base-svg);
    }
  }
}

.Category,
:global(.usa-tag).Category {
  @include u-radius('sm');
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  line-height: normal;

  &.ExternalNews {
    background-color: var(--category-externalnews-bg);
    color: var(--category-externalnews-text);
  }
  &.InternalNews {
    background-color: var(--category-internalnews-bg);
    color: var(--category-internalnews-text);
  }
  &.News {
    background-color: var(--category-ussf-news-bg);
    color: var(--category-ussf-news-text);
  }
  &.Announcement {
    background-color: var(--category-announcement-bg);
    color: var(--category-announcement-text);
  }
  &.Documentation {
    background-color: var(--category-ussf-documentation-bg);
    color: var(--category-ussf-documentation-text);
  }
  &.Application {
    background-color: var(--category-application-bg);
    color: var(--category-application-text);
  }
  &.GuardianIdeal {
    background-color: $theme-cosmiclatte-darkest;
    color: $theme-cosmiclatte-lightest;
  }
}
