@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';

.navContainer {
  @include at-media('desktop') {
    display: flex;
    height: 100%;
    position: fixed;
  }
}

.joinBeta {
  align-self: center;
  margin-top: units(4);
  padding-right: units(2);

  button {
    margin: 0;
  }
}

.Header {
  // USWDS OVERRIDES
  &:global(.usa-header) {
    background-color: color($theme-color-base-lightest);
  }

  :global {
    .usa-logo {
      @include at-media('desktop') {
        margin-bottom: 13px;
        margin-top: 20px;
      }

      a {
        font-size: size('body', 'sm');
        letter-spacing: 0.15em;
        text-transform: uppercase;
      }
    }

    .logo-img {
      width: 93px;

      @include at-media('desktop') {
        width: 200px;
      }
    }

    .usa-nav__primary {
      order: initial;
    }

    .usa-nav__primary > .usa-nav__primary-item > a,
    .usa-nav__primary button,
    .text-heading {
      @include heading-small;

      &:hover {
        color: color('ink');
      }
    }

    .text-heading {
      font-weight: bold;
      letter-spacing: normal;
      @include u-margin-bottom(1);
    }
  }

  // DESKTOP
  @include at-media('desktop') {
    :global {
      .usa-nav-container {
        padding-left: units(2);
        padding-right: 0;
        width: $sidebar-width;
        flex-direction: column;
      }

      .usa-nav__primary {
        display: initial;
      }

      .usa-navbar {
        padding-right: units(2);
        width: 100%;
      }

      .usa-nav {
        display: initial;
        padding-left: 0;
        margin-top: 8rem;
      }

      .usa-nav__link:hover::after,
      .usa-nav__primary-item > .usa-current::after,
      .usa-nav__primary button[aria-expanded='true'],
      .usa-nav__submenu {
        background-color: color('ink');
      }

      .usa-nav__primary button[aria-expanded='true']:hover {
        color: white;
      }

      .usa-nav__primary > .usa-nav__primary-item > a,
      .usa-nav__primary button {
        line-height: lh('heading', 3);
        margin-left: -1rem;
        padding-top: units(1);
        padding-bottom: units(1);
        width: $sidebar-width;
      }

      .usa-nav__primary-item:last-of-type .usa-nav__submenu {
        right: auto;
      }

      .usa-nav__submenu {
        margin-left: -1rem;
        padding: 0;
        width: $sidebar-width;
      }

      .usa-nav__link:hover::after,
      .usa-nav__primary-item > .usa-current::after {
        height: 100%;
        left: 0;
        width: 4px;
        right: auto;
        top: 0;
      }

      .usa-nav__submenu .usa-nav__submenu-item {
        display: flex;

        + * {
          margin-top: 0;
        }

        a {
          flex: 1 1 auto;
          padding: 0.5rem 1rem;

          &:hover {
            background-color: color('gray-cool-80');
            padding: 0.5rem 1rem;
          }
        }
      }

      .usa-nav__link:local(.newsLink):hover::after,
      .usa-nav__primary-item > :local(.newsLink).usa-current::after {
        background-color: #e17141;
      }

      .usa-nav__link:local(.trainingLink):hover::after,
      .usa-nav__primary-item > :local(.trainingLink).usa-current::after {
        background-color: color('primary-vivid');
      }

      .usa-nav__link:local(.aboutLink):hover::after,
      .usa-nav__primary-item > :local(.aboutLink).usa-current::after {
        background-color: color('violet-60v');
      }
    }
  }
}
