@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
.FeedbackCard {
  background: var(--background-fill);
  border: 1px solid #929292;
  border-radius: 8px;
  padding: units(3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  > h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    margin-top: units(0);
    margin-bottom: units(1);
  }

  h2 + p {
    margin-top: units('105');
  }

  p {
    line-height: 1.35;
  }
}
