@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';

.usa-site-alert--info {
  // USWDS OVERRIDES
  background-color: color('blue-cool-10v');
  :global {
    .usa-alert {
      background-color: color('blue-cool-10v');
      font-size: font-size('body', '2xs');
      padding-top: 0.75rem;
      padding-bottom: 0.5rem;
    }
    .usa-alert__body {
      display: flex;
      align-items: center;
    }
  }
}
