// Home Page Overrides #TODO Is there a better place for these?
// What's our best practice for handling css at the page level
// when there isn't a component?
.service-logos {
  img {
    filter: grayscale(100%);
    max-height: units(5);
  }

  p {
    font-size: size('body', '2xs');
  }
}

svg.education-icon--gradient * {
  fill: url(#lg);
}

.education-icon {
  font-size: units(8);
}

.education-icon--sm {
  font-size: 40px;
}
