// Home Page Overrides
@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
.home {
  :global {
    .margin-top-10 {
      margin-top: 5rem;
    }
    .font-heading-md {
      font-size: 1.06rem;
    }
    .text-normal {
      font-weight: 400;
    }
    .margin-top-2 {
      margin-top: 1rem;
    }
    .service-logos {
      img {
        filter: grayscale(100%);
        max-height: units(5);
      }

      p {
        font-size: size('body', '2xs');
      }
    }
    svg.education-icon--gradient * {
      fill: url(#lg);
    }

    .education-icon {
      font-size: units(8);
    }

    .education-icon--sm {
      font-size: 40px;
    }
    .usa-prose > a.text-white {
      color: color('white');
      text-decoration: none;
    }
  }
}
