@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.personalData {
  p {
    @include heading-bold;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 2rem;
  }

  p + div > nav {
    padding-top: 0 !important;

    :global(
        ol.usa-breadcrumb__list
          > li.usa-breadcrumb__list-item
          > a.usa-breadcrumb__link
      ) {
      color: var(--breadcrumbs-edit-display-name);
    }
  }

  dt {
    font-family: $sfds-heading-font;
    @include u-line-height('heading', 3);
    font-weight: 700;
  }

  dd {
    @include u-line-height('body', 4);
    margin-inline-start: 0;
    margin-bottom: units(2);
  }
}
