@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

@mixin heading-small {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: normal;
  letter-spacing: 0.15em;
}

.loginPage {
  :global {
    .usa-intro {
      font-weight: 300;
    }

    .button-pill {
      background-color: color('blue-warm-60v');
      @include heading-small;
      border-radius: 99em;
    }

    .button-pill,
    .usa-prose > a.button-pill {
      background-color: color('blue-warm-60v');
      color: color('white');
      text-decoration: none;
      @include heading-small;
      border-radius: 99em;
      &:hover {
        background-color: color('primary-dark');
        border-bottom: 0;
      }
    }

    .usa-section {
      background: color('gray-cool-3');
    }

    .usa-accordion__content {
      max-width: fit-content;
    }

    .page-login--notice {
      max-width: 568px;

      p,
      ul li {
        color: color('base-darker');
      }
      .font-heading-xl {
        font-size: 2rem;
      }
      .text-bold {
        font-weight: 700;
      }
    }

    .usa-alert {
      .usa-alert__heading {
        font-size: font-size('heading', 'xl');
        font-weight: bold;
      }

      p,
      ul {
        color: color('ink');
      }
    }
  }
}
