@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
$sate-image: url('/assets/images/satellite2.svg');

.loader {
  background: linear-gradient(180deg, #000 6.36%, #0f305a 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*--- planet ---*/
.planet {
  position: absolute;
  height: 50%;
  width: 50%;
}

.circle {
  position: absolute;
  background-color: #707c91;
  z-index: 1;
  border-radius: 50%;
}

.circle:nth-child(1) {
  width: 17.5%;
  height: 17.5%;
  top: 37.5%;
  left: 35%;
}

.circle:nth-child(2) {
  width: 10%;
  height: 10%;
  top: 20%;
  left: 45%;
}

.circle:nth-child(3) {
  width: 13%;
  height: 13%;
  top: 20%;
  left: 65%;
}

.circle:nth-child(4) {
  width: 11%;
  height: 11%;
  top: 60%;
  left: 65%;
}

.circle:nth-child(5) {
  width: 11%;
  height: 11%;
  top: 35%;
  left: 6%;
}

.circle:nth-child(6) {
  width: 9%;
  height: 9%;
  top: 75%;
  left: 15%;
}

.circle:nth-child(7) {
  width: 11%;
  height: 11%;
  top: 85%;
  left: 40%;
}

/*--- satallite ---*/
.sate {
  position: absolute;
  width: 400px;
  height: 65px;
  animation: 8s orbit infinite;
  animation-timing-function: linear;
}

.sate div {
  width: 65px;
  height: 65px;
  background: $sate-image no-repeat center;
  animation: 4s orbit infinite;
  animation-timing-function: linear;
  animation-direction: reverse;
}

@keyframes orbit {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
