@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
@use 'styles/deps';

.bookmark {
  border: 1px solid var(--bookmark-border);
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;
  background-color: var(--bookmark-bg);

  display: flex;
  flex-grow: 1;
  text-overflow: ellipsis;

  > :global(.usa-link) {
    flex-grow: 1;
    padding: units('105') units(2);

    // truncated text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
      padding: units(1) units('105');
      border: 4px var(--element-focus) solid;
      outline: none;
    }
  }

  :global(.usa-tooltip > .usa-button) {
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    padding: 0;
    margin-top: 11.5px;

    svg {
      color: var(--bookmark-info-icon-color);
    }
  }

  &:hover,
  &:focus {
    background-color: var(--bookmark-hover);
    border-color: var(--bookmark-border-hover);
    .delete {
      background-color: var(--bookmark-hover);
    }
  }
}

.disabled {
  pointer-events: none;
}

.delete {
  @extend %button-reset;
  color: var(--icon);
  background: var(--bookmark-bg);
  padding: 0 units('105');

  &:hover,
  &:focus {
    color: var(--icon-hover);
  }
  &:focus {
    border: 4px var(--element-focus) solid;
    border-left: 0px;
    padding: 0 units(1);
  }
}
