@import 'styles/uswdsDependencies';
@import 'styles/deps';
@import 'styles/sfds/sfdsDependencies';

.bookmark {
  border: 1px solid color('base-light');
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 8px;

  display: flex;
  flex-grow: 1;

  > :global(.usa-link) {
    flex-grow: 1;
    padding: units('105') units(2);

    // truncated text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    background-color: #f0f0f0;
  }
}

.disabled {
  pointer-events: none;
}

.delete {
  @extend %button-reset;
  color: $theme-spacebase-light;
  padding: 0 units('105');

  &:hover {
    color: $theme-spacebase-base;
  }
}
