@import 'styles/uswdsDependencies';
@import 'styles/deps';

.bookmark {
  border: 1px solid color('base-light');
  border-radius: 5px;
  display: flex;

  > a {
    flex-grow: 1;
    padding: units('105') units(2);
  }
}

.delete {
  @extend %button-reset;
  padding: 0 units('105');
}
