@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.breadcrumbs {
  :global(.usa-breadcrumb__list-item:not(:last-child)::after) {
    background-color: var(--text);
  }
  li {
    color: var(--text);
  }
  a li,
  a {
    color: var(--breadcrumbs-link);
    &:hover,
    &:focus {
      color: var(--breadcrumbs-link-hover);
    }
    &:visited {
      color: var(--breadcrumbs-link);
    }
  }
}
