# Default owners for everything
* @suzubara @abbyoung @esacteksab

# Github settings
.github/settings.yml @suzubara @abbyoung @esacteksab @noahfirth

# Dependabot Updates
package.json @dependabot
yarn.lock @dependabot
