# Default owners for everything

* @abbyoung @esacteksab @gidjin @noahfirth

# Github settings

.github/settings.yml @abbyoung @esacteksab @noahfirth @gidjin

# CODEOWNERS prevent renovate automerge since it will automatically ask for review

# See documentation for more details: https://docs.renovatebot.com/automerge-configuration/

# Solution: make files used by renovate owned by everyone

**/*/package.json
**/*/yarn.lock
