##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

#########################
# Project Configuration #
#########################

# Environment Node is running in (including build scripts)
# NOT the same as the environment the application is running in
# Use "development" for local development with hot reloading, otherwise use "production"
# Options: development, production
# export NODE_ENV=development

#########################
# NextJS Configuration #
#########################
export NEXT_TELEMETRY_DISABLED=1

#########################
# Cypress Configuration #
#########################
export CYPRESS_BASE_URL=http://localhost:3000

###################################
# Database/Services Configuration #
###################################
export REDIS_URL=redis://localhost:6379

export MONGO_URL=mongodb://localhost:27017
export MONGODB_DB=dev
export RDS_TLS_CERT=rds-combined-ca-bundle.pem

###################################
# Matomo Configuration #
###################################
export MATOMO_URL=http://localhost:80
export MATOMO_SITE_ID=1

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.
[[ -f .envrc.local ]] && source_env .envrc.local