export NEXT_PUBLIC_SITE_URL='http://localhost:3000'
export CYPRESS_BASE_URL='http://localhost:3000'

export APP_ENV=development
export NODE_ENV=development
export TARGET_ENV=development

export APP_PORT=3000