##########################################
# DO NOT MAKE LOCAL CHANGES TO THIS FILE #
#                                        #
# Vars in this file can be overridden by #
# exporting them in .envrc.local         #
##########################################

#########################
# Project Configuration #
#########################

# Environment Node is running in (including build scripts)
# NOT the same as the environment the application is running in
# Use "development" for local development with hot reloading, otherwise use "production"
# Options: development, production, test
# export NODE_ENV=development
# This is usually set by whatever tool is running (ie, yarn dev, yarn test) and does not need to be set here

#########################
# NextJS Configuration #
#########################
export NEXT_TELEMETRY_DISABLED=1

#############################
# SAML (test) Configuration #
#############################
export SAML_SSO_CALLBACK_URL=http://localhost:3000/api/auth/login
export SAML_IDP_METADATA_URL=http://localhost:8080/simplesaml/saml2/idp/metadata.php
export SAML_ISSUER=ussf-portal-client

######################################################
# Keystone / shared session Configuration            #
# These values need to match the same as in Keystone #
######################################################
export SESSION_SECRET=thisvaluecanbeanythingitisonlyforlocaldevelopment
export SESSION_DOMAIN=localhost


##############################
# Keystone Configuration     #
##############################
export KEYSTONE_URL=http://localhost:3001

##############################
# Personnel API Config       #
##############################
export PERSONNEL_API_URL=http://localhost:4000

###################################
# Database/Services Configuration #
###################################
export REDIS_URL=redis://localhost:6379

export MONGO_HOST=''
export MONGO_USER=''
export MONGO_PASSWORD=''

export MONGO_URL=mongodb://localhost:27017
export MONGODB_DB=dev

export RDS_TLS_CERT=rds-combined-ca-bundle.pem

export ME_CONFIG_BASICAUTH_USERNAME=''
export ME_CONFIG_BASICAUTH_PASSWORD=''

###################################
# Matomo Configuration            #
###################################
export MATOMO_URL=http://localhost:8081
export MATOMO_SITE_ID=1

#########################################
# Launch Darkly Localhost Configuration #
#########################################
## NOTE ##
# This key is okay to be public per the Launch Darkly Documentation
# https://docs.launchdarkly.com/sdk/concepts/client-side-server-side?site=federal#client-side-id
# Quote:
# "Unlike a mobile key, the client-side ID for an environment never changes.
#  The client-side ID does not need to be kept a secret."
export LAUNCHDARKLY_SDK_CLIENT_SIDE_ID=localfile

################################
# Docker compose configuration #
################################
export COMPOSE_PATH_SEPARATOR=:
export COMPOSE_FILE=docker-compose.services.yml:docker-compose.cms.yml:docker-compose.client.yml

##############################################
# Load Local Overrides and Check Environment #
##############################################

# Load a local overrides file. Any changes you want to make for your local
# environment should live in that file.
[[ -f .envrc.local ]] && source_env .envrc.local
