services:
  cms:
    container_name: keystone-cms
    build:
      # Uncomment the below line to work with local check out
      # context: ../ussf-portal-cms/
      context: https://github.com/USSF-ORBIT/ussf-portal-cms.git#main
      dockerfile: Dockerfile-gh
      target: e2e-local
      args:
        BUILD: localbuild
    restart: always
    ports:
      - '3001:3001'
    environment:
      PORT: 3001
      SESSION_DOMAIN: localhost
      SESSION_SECRET: thisvaluecanbeanythingitisonlyforlocaldevelopment
      DATABASE_URL: postgres://keystone:keystonecms@keystone-db:5432/keystone?connect_timeout=10
      PORTAL_URL: http://localhost:3000
      REDIS_URL: redis://portal_redis:6379
      S3_BUCKET_NAME: 'test_bucket'
      S3_REGION: 'test_region'
      S3_ACCESS_KEY_ID: 'thiscanbeanything'
      S3_SECRET_ACCESS_KEY: 'thiscanbeanything'
      ASSET_BASE_URL: http://localhost:3001
    depends_on:
      - keystone-db
      - redis
