@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
.updateNameAndRank {
  h2 {
    text-transform: uppercase;
  }

  label > strong {
    color: $state-error-base;
  }
}

.updateOfficialRecords {
  background: $theme-cosmiclatte-lighter;
  border: 1px solid $theme-cosmiclatte-dark;
  border-radius: 8px;
  padding: units(2) units(3);
  max-width: 482px;
}

.successMessage {
  margin-top: 8px;
}

.saveDisplayName {
  &:hover:disabled {
    cursor: default;
    background-color: var(--btn-primary-bg);
  }
}
