@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.gridContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  .textContainer {
    color: $white;
    width: 100%;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .articleTitle {
    margin-bottom: 0;
    margin-top: 0;
  }

  .articlePreview {
    padding-bottom: 2rem;
  }
}
