@use 'styles/sfds/index.scss' as sfds;
@use 'uswds-core' as util;

.NewsItem {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.articleLink,
a.articleLink {
  display: block;
  text-decoration: none;
  color: var(--article-link-text);

  &:hover {
    text-decoration: underline;

    > * {
      text-decoration: underline;
    }
  }

  > * {
    display: inline;
  }

  h4 {
    margin: 0;
  }
}

.articleTitle {
  margin-bottom: 0.5em;
  margin-top: 0;

  a {
    color: sfds.$theme-black;
    text-decoration: none;
  }
}

.articlePublishedDate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  height: 60px;
  width: 60px;
  background: sfds.$theme-cosmiclatte-lighter;
  border: 1px solid sfds.$theme-cosmiclatte-dark;
  border-radius: 8px;

  span.month {
    font-size: 12px;
    line-height: 15px;
  }

  span.day {
    font-family: 'Sharp Sans';
    font-size: 18px;
    line-height: 23px;
  }
}

.categoryAndLabel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.articleExcerpt {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 0;
  flex-grow: 1;
  color: var(--article-excerpt-text);

  .articleExcerptTruncate {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: none;
    overflow: hidden;
    hyphens: auto;
    text-overflow: ellipsis;
    text-align: left;
    color: var(--article-excerpt-text);
  }
}

.articleTag {
  align-self: flex-start;
  color: sfds.$black;
}

.newsWidgetItem {
  .articleExcerptTruncate {
    -webkit-line-clamp: 4;
  }
}
