@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.carouselContainer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  > :global(.slick-dots
      li.slick-active
      div.announcement-carousel-container
      button::before) {
    color: var(--announcement-active-dots);
  }

  > :global(.slick-dots li div.announcement-carousel-container button::before) {
    color: var(--announcement-dots);
  }
}

.carouselArrow {
  &:hover {
    cursor: pointer;
  }
}
