@import 'styles/uswdsDependencies';
// @import 'styles/sfds/sfdsDependencies';

.carouselContainer {
  display: flex !important;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  .dots {
    button.carouselEllipse {
      width: 7.54px;
      height: 8px;
      border-radius: 50px;
      background: var(--announcement-dots);
    }

    button::before {
      color: transparent;
    }
  }

  > :global(
      .slick-dots
        li.slick-active
        div.announcement-carousel-container
        button::before
    ) {
    color: transparent;
    width: 10px;
    height: 9.5px;
    border-radius: 50px;

    background: var(--announcement-active-dots);
  }
}

.carouselArrow {
  filter: var(--announcement-arrow-color);
  &:hover {
    cursor: pointer;
  }
}
