@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';

.siteContainer {
  @include at-media('desktop') {
    display: flex;
  }
}

.mainContainer {
  @include at-media('desktop') {
    flex: 1 1 0 !important;
    margin-left: $sidebar-width;
  }
}

.navContainer {
  @include at-media('desktop') {
    display: flex;
    height: 100%;
    position: fixed;
  }
}

.layoutDefault {
  :global {
    @include gov-banner;
  }
}
