@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/deps';

.undo {
  @extend %button-reset;
  background: $theme-mars-base;
  border-radius: 5px;
  color: $theme-white;
  flex: auto;
  text-align: center;
  margin-bottom: 8px;
  line-height: 1.15;
  border: 1px solid transparent;
  @include u-padding('105' 4);
}

.addLink {
  @include u-margin-top(2);

  :global(.usa-tooltip) {
    @include u-margin-left(1);
    @include u-margin-top(1);
  }

  :global(.usa-form__note) {
    float: none;
    @include u-margin-top('105');

    :global(.usa-button--unstyled) {
      margin: 0;
      font-size: inherit;
    }
  }
}

.addLinkComboBox {
  input {
    background-color: var(--form-input-bg);
    color: var(--form-input-text);
    border: 1px solid var(--form-input-border);
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 0;
    font-family: $sfds-body-font;
  }

  :global(.usa-combo-box__list-option) {
    outline: 0;
    &:hover {
      background: var(--dropdown-menu-bg-hover);
      color: var(--link-primary-hover);
      outline: 0;
    }
    &:disabled {
      cursor: not-allowed;
      opacity: 1;
      color: var(--dropdown-menu-disabled-text);

      &:hover {
        color: var(--dropdown-menu-disabled-text);
        background-color: var(--dropdown-menu-bg);
      }
    }
  }
}

.addLinkWarning {
  :global(.usa-combo-box__input) {
    border-width: 0.25rem;
    border-style: solid;
    border-color: $state-warning-dark;
  }
}

.customLink {
  display: flex;

  &:global(.usa-link::before) {
    content: '';
    background-image: var(--custom-link-icon);
    width: 18px;
    height: 18px;
    margin-right: units(1);
    flex-shrink: 0;
  }

  .customLinkText {
    // truncated text
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

button.collectionSettingsDropdown {
  border: 0;
  border-radius: 0;
  font-weight: normal;
}

.dropdownMenuToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.editableCollectionTitle {
  h3.collectionTitle {
    font-size: font-size('heading', 'lg');
    line-height: lh('heading', 2);
    flex-grow: 1;
  }

  :global(.usa-button).cancelButton {
    color: var(--btn-disabled-text);
    background-color: var(--btn-disabled-bg);
    box-shadow: inset 0 0 0 2px var(--btn-disabled-outline);
    &:hover {
      color: var(--btn-disabled-text-hover);
      background-color: var(--btn-disabled-bg-hover);
      box-shadow: inset 0 0 0 2px var(--btn-disabled-outline-hover);
    }
  }
}
