@import 'styles/uswdsDependencies';
@import 'styles/deps';
@import 'styles/sfds/sfdsDependencies';

.undo {
  @extend %button-reset;
  background: $theme-mars-base;
  color: $theme-white;
  flex: auto;
  text-align: left;
  @include u-padding('205' 4);
  @include u-margin-x(-2);
}

.addLink {
  @include u-padding-x(2);
  @include u-margin-top(2);
}

.addLinkButton {
  &:hover {
    background-color: #f0f0f0;
  }
}

button.collectionSettingsDropdown {
  background-color: $theme-white;
  color: $theme-ultraviolet-base;
  border: 0;
  border-radius: 0;
  font-weight: normal;
}

.dropdownMenuToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.editableCollectionTitle {
  h3.collectionTitle {
    font-size: font-size('heading', 'lg');
    line-height: lh('heading', 2);
    flex-grow: 1;
  }

  textarea.collectionTitle {
    font-family: $sfds-heading-font;
    font-size: font-size('heading', 'lg');
    line-height: lh('heading', 2);
    flex-grow: 1;
    height: auto;
    margin: 0;
    border: 0;
    padding: 0;
    resize: none;
    overflow: hidden;
    overflow-wrap: break-word;

    &::placeholder {
      font-style: italic;
      color: color('base-light');
    }
  }
  button.cancelButton {
    color: $theme-white;
    background-color: $state-disabled-base;
    &:hover {
      background-color: $state-disabled-dark;
    }
  }
}
