@import 'styles/uswdsDependencies';
@import 'styles/deps';

.undo {
  @extend %button-reset;
  background: #f2784b;
  color: white;
  flex: auto;
  text-align: left;
  @include u-padding('205' 4);
  @include u-margin-x(-2);
}

.addLink {
  @include u-padding-x(2);
  @include u-margin-top(2);
}

button.collectionSettingsDropdown {
  background-color: #ffffff;
  color: #005ea2;
  border: 0;
  border-radius: 0;
  font-weight: normal;
}

.dropdownMenuToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}
