@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';
@import 'styles/sfds/sfdsDependencies';

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
  }

  main {
    background-color: $theme-white;
    color: $theme-black;
    flex: 1;
    margin-bottom: units(7);

    // Reset MVP type styles
    h2 {
      text-transform: none;
      letter-spacing: normal;
    }

    p,
    :global(.usa-prose) ul {
      color: $theme-black;
    }
  }
}
