@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
  }

  main {
    flex: 1;
  }
}
