@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
  }

  main {
    flex: 1;
    margin-bottom: units(7);

    // Reset MVP type styles
    h2 {
      text-transform: none;
      letter-spacing: normal;
    }

    p,
    .usa-prose ul {
      color: color('ink');
    }
  }
}

.pageHeader {
  align-items: center;
  border-bottom: 1px solid color('base-light');

  & + * {
    margin-top: units(4);
  }
}
