@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
@use 'styles/deps';

.dropdownFilter {
  display: flex;
  align-items: center;
  @media screen and (max-width: 640px) {
    padding-bottom: 1rem;
  }
  :global {
    .usa-label {
      color: white;
      margin: 1rem 1rem 1rem 0;
    }
  }
  .dropdownMenu {
    :global {
      .usa-label {
        margin: 1rem;
      }

      .usa-accordion__button[aria-expanded='false'] {
        &::after {
          content: '';
          -webkit-mask-image: url(/vendor/img/usa-icons/expand_more.svg);
          mask-image: url(/vendor/img/usa-icons/expand_more.svg);
          width: 20px;
          height: 20px;
          display: inline-block;
          background-color: var(--btn-primary-text);
        }
      }
      .usa-accordion__button[aria-expanded='true'] {
        &::after {
          content: '';
          -webkit-mask-image: url(/vendor/img/usa-icons/expand_less.svg);
          mask-image: url(/vendor/img/usa-icons/expand_less.svg);
          width: 20px;
          height: 20px;
          display: inline-block;
          background-color: var(--btn-primary-text);
        }
      }
      .usa-nav__submenu {
        display: block;
        background-color: transparent;
        margin: 0;
        padding: 0;
        &[hidden] {
          visibility: hidden;
        }
      }
      li:last-of-type {
        position: absolute;
      }
    }

    button {
      @extend %button-reset;
      @include typeset-link;
      @include u-padding-y(1);
      background-color: var(--btn-sort-bg);
      color: var(--btn-sort-text);
      text-align: left;
      text-decoration: none;
      border: 0px solid;
      border-radius: 4px;
      padding: 12px;
      box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
      font-weight: 700;
      min-width: 130px;
      display: flex;
      align-items: center;
      height: 42px;

      svg {
        margin-right: units(1);
        fill: var(--btn-sort-text);
      }

      &:hover {
        color: var(--btn-sort-hover-text);
        background-color: var(--btn-sort-hover-bg);
      }

      &[disabled] {
        border-color: var(--btn-sort-disabled-border);
        color: var(--btn-sort-disabled-text);
        background-color: var(--btn-sort-disabled-bg);
        box-shadow: none;
        font-weight: 400;
      }
    }
  }
}
