@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.articleTitle {
  margin-bottom: 0.5em;
  margin-top: 0;

  a {
    color: var(--text);
    text-decoration: none;
  }
}

.categoryAndLabel {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.previewText {
  color: var(--text);
}
