@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;
.SearchBanner {
  background-color: var(--background-fill-alert);
  border: 1px solid $theme-cosmiclatte-darker;
  border-radius: 6px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  > img {
    margin: units(4);
  }

  > img:last-child {
    transform: scaleX(-1);
  }

  h3,
  p {
    margin: 0;
    color: #{$theme-black};
  }

  h3 + p {
    margin-top: units(1);
  }
}
