@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
.ArticleList {
  list-style: none;
  padding: 0;

  > li {
    padding-bottom: units(5);
    border-bottom: 1px solid $theme-spacebase-lightest;
  }

  > li + li {
    margin-top: units(5);
  }
}

* + .ArticleList {
  margin-top: units(5);
}

p.NoArticlesText {
  color: var(--text);
}
