.card {
  list-style-type: none;
  :global {
    .usa-card__heading {
      font-size: 1.25rem;
    }
    .usa-tag {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.15em;
      border-radius: 2px;
      line-height: 1.4;
      padding: 3px 6px;
      vertical-align: bottom;
    }
    .birthdayCard {
      background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 66%,
        rgba(117, 19, 93, 0) 96%
      ); // #TODO add back image after merge
      // url(/img/bday.webp);
      background-size: cover;
    }
  }
}

.cardLink {
  text-decoration: none;
}
