@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';

.card {
  :global {
    .usa-card__heading {
      font-size: 1.25rem;
    }
    .usa-tag {
      text-transform: uppercase;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: 0.15em;
      border-radius: 2px;
      line-height: lh('body', 3);
      padding: 3px 6px;
      vertical-align: bottom;
    }
    .birthdayCard {
      background: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.8) 66%,
          rgba(117, 19, 93, 0) 96%
        ),
        url(/img/bday.webp);
      background-size: cover;
    }
    .usa-card__container {
      &:hover {
        background-blend-mode: soft-light;
        border-color: color('primary-light');
      }
    }
  }
}

.cardLink {
  text-decoration: none;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: 100%;
}
