@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/deps';

.guardianDirectoryHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }

  h1 {
    margin: 0;
  }

  form {
    div:first-child {
      width: 340px;
      background-color: #fff;
    }

    & button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 !important;
    }
  }
}

.resetSearch {
  display: flex;
  justify-content: flex-end;

  button {
    padding: 0 !important;
  }
}
