@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/deps';
@use 'styles/inpagenav' as *;

.pageTitle {
  text-transform: uppercase;
  margin-top: 0;
}

.pageDescription {
  line-height: 26px;
  max-width: 700px;
}

.pageMeta {
  padding-bottom: 48px;
}

.box {
  position: absolute;
  width: 100%;
  background: var(--background-fill);
  border: 1px solid var(--widget-border);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  bottom: 0;
  z-index: -1;
}

.accordionContent {
  display: flex;
  flex-direction: column;
}

.contentContainer {
  padding: 32px 48px 32px 48px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  gap: 48px;
  background-color: rgba(255, 255, 255, 0.68);
  margin-bottom: 2rem;
}

.collectionContainer {
  width: 100%;
}
.collection {
  background-color: var(--widget-bg);
  border: 1px solid var(--widget-border);
}

.inPageNav {
  :global {
    @include inpagenav;
    .usa-in-page-nav-container > .usa-in-page-nav {
      order: initial;
      top: 9rem;
    }
    .usa-in-page-nav__nav {
      padding-top: 0;
      padding-right: 44px;
    }
  }
}
