@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/deps';

.pageTitle {
  text-transform: uppercase;
  margin-top: 0;
}

.pageDescription {
  line-height: 26px;
}

.contentContainer {
  padding: 32px 48px 32px 48px;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  gap: 48px;

  background-color: rgba(255, 255, 255, 0.68);

  margin-bottom: 2rem;
}

.collectionContainer {
  display: flex;
  width: 100%;
}

.collection {
  background-color: var(--widget-bg);
  border: 1px solid var(--widget-border);
}

.inPageNav {
  :global(.usa-in-page-nav-container) {
    justify-content: space-between;
  }

  :global(.usa-in-page-nav-container > .usa-in-page-nav) {
    margin-left: 0;
    margin-top: 0;
    order: initial;

    :global(.usa-in-page-nav__nav) {
      background-color: transparent;
    }
  }
}
