@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.listContainer {
  max-width: 1220px;
}

.pageTitle {
  margin-top: units(6);
  margin-bottom: units(4);

  h2 {
    margin-bottom: 0;
  }

  h2 + h3 {
    margin-top: units('105');
  }
}

.newsCarouselSection {
  margin: 3rem 0 4rem 0;
}

.olderInternalNewsLink {
  display: flex;
  justify-content: center;
  background: var(--btn-box-bg);
  border: 1px dashed var(--btn-box-border);

  :global(.usa-button) {
    margin: 1.4rem 0 1.4rem 0;
  }
}
