@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.settings {
  .pageTitle {
    margin-top: 0;
    font-weight: 700;
    font-size: units(4);
  }

  .widgetContainer {
    border: 1px solid $light-gray;
    background: var(--background-fill);
    border-radius: 8px;
    padding: units(3) units(3);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  section {
    margin-top: units('205');
  }
}
