@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';
@import 'styles/deps';

.pageTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: units(4);
}

.pageTitle + .toolbar {
  margin-top: units(3);
}

.toolbar {
  display: flex;
}

.toolbar + .widgetContainer,
.toolbar + .flash {
  margin-top: units(4);
}

.flash + .widgetContainer {
  margin-top: units(4);
}

.widgetContainer {
  border: 1px solid var(--widget-border);
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  &.selectMode {
    border: 4px solid var(--widget-selected-border);
    padding: 0px;

    .widgetToolbar {
      background-color: var(--widget-selected-border);
    }

    :global(.sitesAndAppsCollection) {
      background-color: var(--widget-sites-apps-bg);
      border-color: var(--bookmark-sites-apps-border);

      :global(.sitesAndAppsBookmark) {
        background-color: var(--bookmark-sites-apps-bg);
        border-color: var(--bookmark-sites-apps-border);
      }
    }
  }

  .widgets {
    margin: units(4) units(4) units(6);
  }

  :global(.sitesAndAppsCollection) {
    background-color: var(--widget-sites-apps-bg);
    border-color: var(--bookmark-sites-apps-border);

    :global(.sitesAndAppsBookmark),
    :global(ol li > div) {
      background-color: var(--bookmark-sites-apps-bg);
      border-color: var(--bookmark-sites-apps-border);
    }
  }
}

[data-color-theme='dark'] {
  .widgetContainer {
    padding: 0px;
    border: 4px solid transparent;
    &.selectMode {
      border: 4px solid var(--widget-selected-border);

      .widgetToolbar {
        background-color: var(--widget-selected-border);
      }
    }
  }
  .widgets {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2rem;
  }
  .sortAlpha {
    padding: 4rem 2.5rem;
    margin-top: 2.5rem;
    background-color: var(--bookmark-sites-apps-alpha-bg-odd);
    :global(.sitesAndAppsBookmarkList) {
      :global(.usa-table.usa-table--striped) {
        border-radius: 4px;
        border-collapse: separate;
        background-color: var(--bg);
        thead {
          th,
          td {
            border: 1px solid var(--bookmark-sites-apps-border);
            background-color: var(--bookmark-sites-apps-alpha-bg-even);
            color: var(--bookmark-sites-apps-text);
            &:first-child {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-right: none;
            }
            &:nth-child(2) {
              border-left: none;
              border-right: none;
            }
            &:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              border-left: none;
              border-right: 1px solid var(--bookmark-sites-apps-border);
            }
          }
        }
        tbody {
          th {
            text-align: left;
          }
        }

        :not(thead) {
          tr:nth-child(odd) {
            th,
            td {
              background-color: var(--bookmark-sites-apps-alpha-bg-odd);
              border: none;
              color: var(--bookmark-sites-apps-text);
              padding: units(1) units(2);
            }
          }
        }

        tr:nth-child(even) {
          th,
          td {
            background-color: var(--bookmark-sites-apps-alpha-bg-even);
            border: 1px solid var(--bookmark-sites-apps-border);
            color: var(--bookmark-sites-apps-text);
            padding: units(1) units(2);
            &:first-child {
              border-right: none;
              border-bottom-left-radius: 4px;
              border-top-left-radius: 4px;
            }
            &:nth-child(2) {
              border-left: none;
              border-right: none;
            }
            &:last-child {
              border-left: none;
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }
        }
        tr {
          th {
            border-right: none;
          }
          td:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}
.widgetToolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: $theme-white;
  padding: units(1) units(4) units('105');

  > * + * {
    margin-left: units('105');
    margin-right: (0);
  }

  > :global(.usa-tooltip) {
    line-height: 1;

    + * {
      margin-left: units(1);
    }
  }
}

.selectCollectionsButton {
  &:global(.usa-button) {
    background-color: var(--btn-select-collections-bg);
    &:hover {
      background-color: var(--btn-select-collections-bg-hover);
    }
  }
}

.sortButton {
  @extend %button-reset;
  @include typeset-link;
  @include u-padding-y(1);
  background-color: var(--btn-sort-bg);
  color: var(--btn-sort-text);
  text-align: left;
  text-decoration: none;
  border: 1px solid var(--btn-sort-border);
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);
  font-weight: 700;

  svg {
    margin-right: units(1);
  }

  &:hover {
    color: var(--btn-sort-hover-text);
    background-color: var(--btn-sort-hover-bg);
  }

  & + .sortButton {
    margin-left: units(4);
  }

  &[disabled] {
    border-color: var(--btn-sort-disabled-border);
    color: var(--btn-sort-disabled-text);
    background-color: var(--btn-sort-disabled-bg);
    box-shadow: none;
    font-weight: 400;
  }
}
