@import 'styles/uswdsDependencies';
@import 'styles/deps';

.pageTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: units(4);
}

.pageTitle + .toolbar {
  margin-top: units(3);
}

.toolbar {
  display: flex;
}

.toolbar + .widgetContainer,
.toolbar + .flash {
  margin-top: units(4);
}

.flash + .widgetContainer {
  margin-top: units(4);
}

.widgetContainer {
  border: 1px solid color('base-light');
  padding: 3px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  &.selectMode {
    border: 4px solid #669ec7;
    padding: 0px;

    .widgetToolbar {
      background-color: #669ec7;
    }
  }

  .widgets {
    margin: units(4) units(4) units(6);
  }
}

.widgetToolbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  padding: units(1) units(4) units('105');

  > * + * {
    margin-left: units('105');
    margin-right: (0);
  }

  :global(.usa-button--inverse) {
    color: #fff;
  }

  :global(.usa-button--outline) {
    background-color: #fff;
  }
}

.sortButton {
  @extend %button-reset;
  @include typeset-link;
  @include u-border-y(1px, solid, 'base-light');
  @include u-padding-y(1);
  text-align: left;
  text-decoration: none;
  border: 1px solid #a9aeb1;
  border-radius: 4px;
  padding: 12px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.15);

  svg {
    margin-right: units(1);
  }

  & + .sortButton {
    margin-left: units(4);
  }

  &[disabled] {
    color: color('disabled');
    background-color: #f9fafa;
    color: #787a7c;
    box-shadow: none;
  }
}
