@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/deps';

.pageTitle {
  margin-top: 0;
  font-weight: 700;
  font-size: units(4);
}

.pageTitle + .toolbar {
  margin-top: units(3);
}

.toolbar + .widgetContainer,
.toolbar + .flash {
  margin-top: units(4);
}

.flash + .widgetContainer {
  margin-top: units(4);
}

.widgetContainer {
  background: var(--background-fill);
  border: 4px solid var(--toolbar-section-border);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

  &.selectMode {
    border: 4px solid var(--widget-selected-border);
    padding: 0px;

    .widgetToolbar {
      background-color: var(--widget-selected-border);
      position: sticky;
      top: 0;
      z-index: 99;
      min-height: 62px;
    }
  }

  .widgets {
    margin: units(4) units(4) units(6);
  }

  :global(.sitesAndAppsCollection) {
    background-color: var(--widget-bg);
    border: 1px solid var(--widget-border);

    :global(.sitesAndAppsBookmark),
    :global(ol li > div) {
      background-color: var(--bookmark-bg);
      border-radius: 5px;
      &:hover {
        background-color: var(--bookmark-hover);
      }
    }
  }
}

[data-color-theme='dark'] {
  .widgetContainer {
    //padding: 0px;
    &.selectMode {
      border: 4px solid var(--toolbar-section-border);

      .widgetToolbar {
        background-color: var(--toolbar-bg);
      }
    }
  }
  .sortAlpha {
    background-color: var(--bookmark-sites-apps-alpha-bg-even);
    padding-top: 20px;
    :global(.sitesAndAppsApplicationsTable) {
      :global(.usa-table.usa-table--striped) {
        // border-radius: 4px;
        //border-collapse: separate;
        background-color: var(--bg);
        tr,
        th {
          border: 1px solid var(--bookmark-sites-apps-border);
        }

        thead {
          th,
          td {
            background-color: var(--bookmark-sites-apps-alpha-bg-even);
            color: var(--bookmark-sites-apps-text);
            border-radius: 0;
            &:first-child {
              border-right: none;
            }
            &:nth-child(2) {
              border-left: none;
              border-right: none;
            }
            &:last-child {
              border-left: none;
              border-right: 1px solid var(--bookmark-sites-apps-border);
            }
          }
        }
        tbody {
          th {
            // text-align: left;
          }
        }

        :not(thead) {
          tr:nth-child(odd) {
            th,
            td {
              background-color: var(--bookmark-sites-apps-alpha-bg-odd);
              border: none;
              color: var(--bookmark-sites-apps-text);
              // padding: units(1) units(2);
            }
          }
        }

        tr:nth-child(even) {
          th,
          td {
            background-color: var(--bookmark-sites-apps-alpha-bg-even);
            border: 1px solid rgba(255, 255, 255, 0.3);
            border-width: 1px 0;
            color: var(--bookmark-sites-apps-text);
            //padding: units(1) units(2);
            &:first-child {
              border-right: none;
            }
            &:nth-child(2) {
              border-left: none;
              border-right: none;
            }
            &:last-child {
              border-left: none;
            }
          }
        }
        tr {
          th {
            border-right: none;
          }
          td:first-child {
            border-left: none;
          }
        }
      }
    }
  }
}
.toolbarLeft {
  display: flex;
  align-items: center;

  > * + * {
    margin-left: 3.5rem;
  }
}
.widgetToolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $theme-white;
  padding: 0 units(4) 0;
  height: 62px;
  position: sticky;
  top: 0;
  z-index: 99;

  > * + * {
    margin-left: units('105');
    margin-right: (0);
  }

  > :global(.usa-tooltip) {
    line-height: 1;

    + * {
      margin-left: units(1);
    }
  }
}

.selectCollectionsButton {
  &:global(.usa-button) {
    background-color: var(--btn-sort-bg);
    height: 42px;
    &:hover {
      background-color: var(--btn-sort-hover-bg);
    }
  }
}

.toolbar {
  display: flex;
  background-color: var(--toolbar-bg);
  height: 100%;
  color: var(--btn-primary-text);
  @media screen and (max-width: 1044px) {
    flex-direction: column;
    padding: 1rem;
  }
}

.selectCollectionsInfo {
  color: white;
  button {
    margin: 0.5rem;
  }
}
