@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.documentation {
  display: flex;
  justify-content: space-between;
}

.accordionContent {
  display: flex;
  flex-direction: column;
}
