@import 'styles/sfds/sfdsDependencies';

.PageNav {
  margin-top: 42px;
  margin-bottom: 75px;

  :global {
    .usa-sidenav {
      border: none;
    }

    .usa-sidenav__item {
      border: none;
    }

    .usa-sidenav a {
      color: $theme-ultraviolet-base;

      &:hover {
        background-color: transparent;
      }
    }

    .usa-sidenav a:not(.usa-button):not(.usa-current) {
      color: $theme-ultraviolet-base;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    .usa-sidenav a.usa-current {
      font-weight: bold;
    }
  }
}
