/** Theme Colors **/
$theme-spacebase-darkest: #070f1d;
$theme-spacebase-darker: #0a162b;
$theme-spacebase-dark: #0e1e3a;
$theme-spacebase-base: #112548;
$theme-spacebase-light: #707c91;
$theme-spacebase-lighter: #a0a8b6;
$theme-spacebase-lightest: #cfd3da;

$theme-ultraviolet-darkest: #070b1e;
$theme-ultraviolet-darker: #0e163b;
$theme-ultraviolet-dark: #192668;
$theme-ultraviolet-base: #233694;
$theme-ultraviolet-light: #6572b4;
$theme-ultraviolet-lighter: #a7afd4;
$theme-ultraviolet-lightest: #d3d7ea;

$theme-ultraviolet-muted-darkest: #22263a;
$theme-ultraviolet-muted-darker: #333958;
$theme-ultraviolet-muted-dark: #444c75;
$theme-ultraviolet-muted-base: #555f92;
$theme-ultraviolet-muted-light: #999fbe;
$theme-ultraviolet-muted-lighter: #bbbfd3;
$theme-ultraviolet-muted-lightest: #dddfe9;

$theme-aurora-darkest: #416649;
$theme-aurora-darker: #62996d;
$theme-aurora-dark: #82cc92;
$theme-aurora-base: #a3ffb6;
$theme-aurora-light: #c8ffd3;
$theme-aurora-lighter: #daffe2;
$theme-aurora-lightest: #edfff0;

$theme-mars-darkest: #30180f;
$theme-mars-darker: #91482d;
$theme-mars-dark: #c2603c;
$theme-mars-base: #f2784b;
$theme-mars-light: #f5936f;
$theme-mars-lighter: #fac9b7;
$theme-mars-lightest: #fce4db;

$theme-cosmiclatte-darkest: #33322e;
$theme-cosmiclatte-darker: #99958b;
$theme-cosmiclatte-dark: #ccc6b9;
$theme-cosmiclatte-base: #fff8e7;
$theme-cosmiclatte-light: #fffbf1;
$theme-cosmiclatte-lighter: #fffcf5;
$theme-cosmiclatte-lightest: #fffefa;

/** State colors **/
$state-info-lighter: #e7f6f8;
$state-info-light: #99deea;
$state-info-base: #00bde3;
$state-info-dark: #009ec1;
$state-info-darker: #2e6276;

$state-error-lighter: #f4e3db;
$state-error-light: #f39268;
$state-error-base: #d54309;
$state-error-dark: #b51d09;
$state-error-darker: #6f3331;

$state-warning-lighter: #faf3d1;
$state-warning-light: #fee685;
$state-warning-base: #ffbe2e;
$state-warning-dark: #e5a000;
$state-warning-darker: #936f38;

$state-success-lighter: #ecf3ec;
$state-success-light: #70e17b;
$state-success-base: #00a91c;
$state-success-dark: #4d8055;
$state-success-darker: #446443;

$state-disabled-light: #e6e6e6;
$state-disabled-base: #c9c9c9;
$state-disabled-dark: #adadad;

/** Shorcuts **/
$theme-black: $theme-spacebase-darkest;
$theme-white: $theme-cosmiclatte-lightest;
$link-color: $theme-ultraviolet-base;

/** Other **/
$black: #000;
$white: #fff;
$grey: #f0f0f0;
$neutral-gray: #767676;
$neutral-gray-200: #e6e6e6;
$neutral-gray-300: #cccccc;
$neutral-gray-800: #424242;
$neutral-gray-900: #262626;
$light-gray: #929292;
$blue-gray: #71767a;
$news-carousel: #161f2f;

/** Taxonomy **/
$tag-default-lighttheme: $theme-ultraviolet-base;
$tag-default-darktheme: $theme-ultraviolet-lightest;

$label-source-lighttheme-bg: $theme-mars-darker;
$label-source-lighttheme-icon: $theme-mars-lightest;
$label-source-darktheme-bg: $theme-mars-lightest;
$label-source-darktheme-icon: $theme-mars-darker;

$label-audience-lighttheme-bg: $theme-mars-darkest;
$label-audience-lighttheme-icon: $theme-mars-lighter;
$label-audience-darktheme-bg: $theme-mars-lighter;
$label-audience-darktheme-icon: $theme-mars-darkest;

$label-base-lighttheme-bg: $theme-aurora-darkest;
$label-base-lighttheme-icon: $theme-aurora-lighter;
$label-base-darktheme-bg: $theme-aurora-lighter;
$label-base-darktheme-icon: $theme-aurora-darkest;

$category-externalnews-lighttheme: #262626;
$category-internalnews-lighttheme: $theme-spacebase-base;
$category-announcement-lighttheme: $theme-ultraviolet-dark;
$category-documentation-lighttheme: $theme-cosmiclatte-darker;
$category-application-lighttheme: $theme-spacebase-base;

$category-externalnews-darktheme: #e6e6e6;
$category-internalnews-darktheme: $theme-spacebase-lighter;
$category-announcement-darktheme: $theme-ultraviolet-lighter;
$category-documentation-darktheme: $theme-cosmiclatte-dark;
$category-application-darktheme: $theme-spacebase-lightest;
