@mixin gov-banner {
  .usa-banner {
    $site-banner-bg: 'ink';
    $site-banner-icon-color: 'blue-40v';
    $site-banner-font-family: 'sans';
    $site-banner-max-width: 'none';
    $site-banner-link-color: 'orange-warm-10v';

    $banner-icon-colors: get-link-tokens-from-bg(
      $site-banner-bg,
      $site-banner-icon-color
    );
    $banner-icon-color: nth($banner-icon-colors, 1);
    $banner-icon-hover: nth($banner-icon-colors, 2);
    $banner-icon-chevron: (
      'name': 'chevron',
      'svg-height': 39,
      'svg-width': 64,
      'height': 0.8ex,
      'color': $banner-icon-color,
      'color-hover': $banner-icon-hover,
    );
    $banner-icon-chevron-up: map-merge(
      $banner-icon-chevron,
      (
        'rotate': 180deg,
      )
    );

    @include typeset($site-banner-font-family);
    background-color: color($site-banner-bg);

    @include at-media('tablet') {
      font-size: font-size($site-banner-font-family, '3xs');
    }

    .usa-accordion {
      @include typeset($site-banner-font-family);
    }

    .usa-banner__header,
    .usa-banner__content {
      @include set-text-from-bg($site-banner-bg);
    }

    .usa-banner__content {
      @include u-maxw('desktop');
      font-size: font-size($site-banner-font-family, 4);
    }

    .usa-banner__header {
      font-size: font-size($site-banner-font-family, 1);
    }

    .usa-banner__header-text {
      font-size: font-size($site-banner-font-family, 1);
      line-height: line-height($site-banner-font-family, 2);
    }

    .usa-banner__header-action {
      @include place-icon(
        $banner-icon-chevron,
        'after',
        2px,
        middle,
        $site-banner-bg
      );
      @include set-link-from-bg($site-banner-bg, $site-banner-link-color);

      line-height: line-height($site-banner-font-family, 2);
    }

    .usa-banner__header--expanded {
      @include at-media('tablet') {
        font-size: font-size($site-banner-font-family, 1);
      }
    }

    .usa-banner__button {
      @include set-link-from-bg($site-banner-bg, $site-banner-link-color);
      font-size: font-size($site-banner-font-family, 1);
      line-height: line-height($site-banner-font-family, 2);

      @include at-media('tablet') {
        @include place-icon(
          $banner-icon-chevron,
          'after',
          2px,
          middle,
          $site-banner-bg
        );
        @include set-link-from-bg($site-banner-bg, $site-banner-link-color);
      }

      &[aria-expanded='true'] {
        @include at-media('tablet') {
          @include place-icon(
            $banner-icon-chevron-up,
            'after',
            2px,
            middle,
            $site-banner-bg
          );
        }
      }
    }
  }

  .usa-banner__header-text {
    color: white;
  }
}
