@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

@mixin pagination {
  .usa-pagination__list {
    > li.usa-pagination__item.usa-pagination__arrow > a {
      > span {
        color: var(--link-primary);
      }

      > svg {
        color: var(--link-primary);
      }
    }

    > li > a.usa-pagination__button {
      background: transparent;
      border: 1px solid var(--pagination-page-number-border);
    }

    > li > a.usa-pagination__button.usa-current {
      background: var(--pagination-page-number-bg);
      color: var(--pagination-page-number-active);
    }
  }
}
