@use 'colors' as *;
@use 'uswds-core' as *;

$hero-image: url('/assets/images/hero.jpeg');
$light-bg-img: url('/assets/images/lightbg.png');
$dark-bg-img: url('/assets/images/darkbg.png');
$accordion-light-plus-icon-path: url('/vendor/img/usa-icons/add.svg');
$accordion-dark-plus-icon-path: url('/vendor/img/usa-icons-bg/add--white.svg');
$accordion-light-minus-icon-path: url('/vendor/img/usa-icons/remove.svg');
$accordion-dark-minus-icon-path: url('/vendor/img/usa-icons-bg/remove--white.svg');

$light-gradient: linear-gradient(180deg, #fffcf5 40%, #a0a8b6 100%);
$dark-gradient: linear-gradient(
  180deg,
  #070f1d 7.28%,
  #112548 67.92%,
  #6572b4 128.09%
);

// This file contains css properties use throughout the
// code base for each corresponding theme.
// Loaded in next.config.js under sassOptions

/************** Light Theme (default) **************/

:root {
  // HTML elements
  --link-primary: #{$theme-ultraviolet-base};
  --link-primary-hover: #{$theme-ultraviolet-darker};
  --link-secondary: #{$theme-ultraviolet-light};
  --link-secondary-hover: #{$theme-ultraviolet-lighter};
  --paragraph-text: #{$theme-black};
  --element-focus: #{$theme-ultraviolet-light};

  // Layout
  --body-bg: #{$white};
  --body-gradient: #{$light-gradient};
  --body-img: #{$light-bg-img};
  --bg: #{$white};
  --background-fill: rgba(254, 252, 245, 0.4);
  --background-fill-alert: rgb(255, 248, 231, 0.6);
  --text: #{$theme-black};

  // Buttons
  --btn-primary-text: #{$theme-white};
  --btn-primary-text-hover: #{$theme-spacebase-light};
  --btn-primary-bg: #{$theme-ultraviolet-base};
  --btn-primary-bg-hover: #{$theme-ultraviolet-dark};
  --btn-primary-bg-active: #{$theme-ultraviolet-darker};

  --btn-secondary-text: #{$black};
  --btn-secondary-bg: #{$theme-mars-base};
  --btn-secondary-bg-hover: #{$theme-mars-darker};
  --btn-secondary-bg-active: #{$theme-mars-darkest};

  --btn-outline-text: #{$theme-ultraviolet-base};
  --btn-outline-hover: #{$theme-ultraviolet-dark};
  --btn-outline-active: #{$theme-ultraviolet-darker};

  --btn-unstyled-text: #{$theme-ultraviolet-base};
  --btn-unstyled-text-hover: #{$theme-ultraviolet-darker};
  --btn-unstyled-bg-hover: #{$theme-ultraviolet-lightest};

  --btn-disabled-text: #{$theme-white};
  --btn-disabled-text-hover: #{$theme-white};
  --btn-disabled-bg: #{$state-disabled-base};
  --btn-disabled-bg-hover: #{$state-disabled-dark};
  --btn-disabled-outline: transparent;

  --btn-add-widget-bg: rgba(220, 222, 224, 0.15);
  --btn-add-widget-border: #{color('base-lighter')};
  --btn-add-widget: #585a5c;
  --btn-add-widget-icon: rgba(0, 0, 0, 0.1);
  --btn-add-widget-icon-hover: rgba(0, 0, 0, 0.25);

  --btn-theme-toggle-bg: #{$theme-ultraviolet-base};
  --btn-theme-toggle-text: #{$white};
  --btn-logout-primary-bg: #{$theme-ultraviolet-lighter};
  --btn-logout-text: #{$black};
  --btn-logout-hover: #{$theme-ultraviolet-lightest};

  --btn-delete-text: #{$state-error-base};
  --btn-delete-text-hover: #{$state-error-dark};
  --btn-delete-bg-hover: #{$state-error-lighter};

  // Sites & Apps
  --toolbar-bg: #{$theme-ultraviolet-dark};
  --toolbar-section-border: #{$theme-ultraviolet-dark};
  --btn-sort-bg: #{$theme-ultraviolet-light};
  --btn-sort-border: #a9aeb1;
  --btn-sort-text: $theme-ultraviolet-base;
  --btn-sort-hover-bg: #{$theme-ultraviolet-base};
  --btn-sort-hover-text: #{$grey};
  --btn-sort-disabled-bg: #f9fafa;
  --btn-sort-disabled-border: #a9aeb1;
  --btn-sort-disabled-text: #{$state-disabled-dark};

  --widget-sites-apps-bg: #{$theme-white};
  --bookmark-sites-apps-bg: transparent;
  --bookmark-sites-apps-border: #{color(base-light)};

  --btn-select-collections-bg: #{$theme-ultraviolet-light};
  --btn-select-collections-bg-hover: #{$theme-ultraviolet-lighter};

  //alpha
  --bookmark-sites-apps-text: #{$theme-black};

  // Bookmark
  --bookmark-bg: transparent;
  --bookmark-border: #{color(base-light)};
  --bookmark-border-hover: var(--bookmark-border);
  --bookmark-hover: #{$grey};
  --icon: #{$theme-spacebase-light};
  --icon-hover: #{$theme-spacebase-base};
  --custom-link-icon: url('/assets/images/icon_custom-link.svg');
  --bookmark-info-icon-color: #233694;

  // Menus
  --dropdown-menu-bg: #{$white};
  --dropdown-menu-bg-hover: #{$grey};
  --dropdown-menu-disabled-text: #070f1d50;
  --page-nav-link: #{$theme-ultraviolet-base};
  --page-nav-link-after: #{$light-blue};

  // Widgets
  --widget-bg: #{$white};
  --widget-border: #{color(base-light)};
  --widget-selected: #{rgba($grey, 0.8)};
  --widget-selected-border: #{$theme-spacebase-base};

  // Forms
  --form-combobox-bg: #{$white};
  --form-input-bg: transparent;
  --form-input-text: #{$theme-black};
  --form-input-border: #{color(base-light)};

  // Announcements
  --announcement-bg: #{$white};
  --announcement-text: #{$black};
  --announcement-divider: #{$theme-spacebase-light};
  --announcement-active-dots: #{$theme-spacebase-base};
  --announcement-dots: #{$theme-spacebase-lightest};
  --announcement-border: #{$light-gray};
  --announcement-btn-text: #{$white};
  --announcement-arrow-color: none;

  // Pagination
  --pagination-page-number-bg: #{$theme-ultraviolet-dark};
  --pagination-page-number-border: #{$neutral-gray-300};
  --pagination-page-number-active: #{$white};
  --pagination-page-number-active-border: #{$neutral-gray-300};

  // News
  --btn-box-bg: #{$theme-cosmiclatte-lighter};
  --btn-box-border: #{$neutral-gray};
  --date-icon-bg: #{$theme-cosmiclatte-lighter};

  //Featured Shortcuts
  --shortcut-bg: transparent;
  --shortcut-bg-hover: #{$grey};
  --shortcut-border: #{color(base-light)};
  --shortcut-border-hover: #{color(base-light)};

  // Tags
  --tag-source-bg: #{$label-source-lighttheme-bg};
  --tag-source-text: #{$white};
  --tag-source-svg: #{$label-source-lighttheme-icon};
  --tag-audience-bg: #{$label-audience-lighttheme-bg};
  --tag-audience-text: #{$white};
  --tag-audience-svg: #{$label-audience-lighttheme-icon};
  --tag-base-bg: #{$label-base-lighttheme-bg};
  --tag-base-text: #{$white};
  --tag-base-svg: #{$label-base-lighttheme-icon};

  // Categories
  --category-externalnews-bg: #{$category-externalnews-lighttheme};
  --category-externalnews-text: #{$white};
  --category-internalnews-bg: #{$category-internalnews-lighttheme};
  --category-internalnews-text: #{$white};
  --category-ussf-news-bg: #{$neutral-gray-900};
  --category-ussf-news-text: #{$theme-cosmiclatte-lightest};
  --category-application-bg: #{$theme-ultraviolet-dark};
  --category-application-text: #{$theme-cosmiclatte-lightest};
  --category-announcement-bg: #{$theme-mars-darker};
  --category-announcement-text: #{$theme-cosmiclatte-lightest};
  --category-ussf-documentation-bg: #{$theme-cosmiclatte-darkest};
  --category-ussf-documentation-text: #{$theme-cosmiclatte-lightest};

  // Footer
  --footer-bg: #{$black};
  --footer-text: #{$theme-ultraviolet-lighter};
  --footer-border: #{$theme-ultraviolet-light};

  // Articles
  --article-link-text: #{$theme-black};

  // Alerts
  --alert-text: #{$theme-black};
  --alert-success-border: #{$state-success-base};
  --alert-success-bg: #{$state-success-lighter};
  --alert-warning-border: #{$state-warning-base};
  --alert-warning-bg: #{$state-warning-lighter};
  --alert-error-border: #{$state-error-base};
  --alert-error-bg: #{$state-error-lighter};
  --alert-info-border: #{$state-info-base};
  --alert-info-bg: #{$state-info-lighter};

  // Breadcrumbs
  --breadcrumbs-link: #{$theme-ultraviolet-base};
  --breadcrumbs-link-hover: var(--link-primary);
  --breadcrumbs-edit-display-name: var(--link-primary);

  // Dark bg links
  --dark-bg-link: #{$theme-ultraviolet-lighter};
  --dark-bg-link-hover: #{$white};

  // Accordion
  --accordion-title: #1b1b1b;
  --accordion-btn-bg: #{$grey};
  --accordion-btn-bg-hover: #dfe1e2;
  --accordion-content-bg: #{$white};
  --accordion-content-border: #{$grey};
  --accordion-plus-btn-img-path: #{$accordion-light-plus-icon-path};
  --accordion-minus-btn-img-path: #{$accordion-light-minus-icon-path};

  // Search
  --search-input-bg-color: #{$white};
  --search-input-text-color: #{$theme-black};
  --search-button-text: #{$theme-white};
  --search-button-bg: #{$theme-ultraviolet-base};
  --search-button-bg-hover: #{$theme-ultraviolet-dark};
  --search-input-border-color: #{$theme-ultraviolet-muted-dark};
}

/* ------------------------------------ */

/************** Dark Theme **************/

[data-color-theme='dark'] {
  // HTML Elements
  --link-primary: #{$theme-ultraviolet-muted-lighter};
  --link-primary-hover: #{$theme-ultraviolet-muted-lightest};
  --link-secondary: #{$theme-ultraviolet-darkest};
  --link-secondary-hover: #{$theme-ultraviolet-darker};
  --paragraph-text: #{$theme-white};
  --element-focus: #{$theme-ultraviolet-muted-light};

  // Layout
  --bg: #{$theme-spacebase-dark};
  --body-bg: #{linear-gradient(
      180deg,
      #000000 6.36%,
      #0f305a 73.55%,
      #555f92 111.89%
    )};
  --body-gradient: #{$dark-gradient};
  --body-img: #{$dark-bg-img};
  --background-fill: rgba(10, 22, 43, 0.4);
  --background-fill-alert: rgba(200, 255, 211, 0.6);
  --text: #{$white};
  --header-image: none;

  // Buttons
  --btn-primary-bg: #{$theme-ultraviolet-muted-lighter};
  --btn-primary-bg-hover: #{$theme-ultraviolet-muted-lightest};
  --btn-primary-bg-active: #{$theme-ultraviolet-muted-light};
  --btn-outline-text: #{$theme-ultraviolet-muted-lighter};
  --btn-outline-hover: #{$theme-ultraviolet-muted-lighter};
  --btn-outline-active: #{$theme-ultraviolet-muted-lighter};

  --btn-secondary-text: #{$black};
  --btn-secondary-bg: #{$theme-mars-base};
  --btn-secondary-bg-hover: #{$theme-mars-darker};
  --btn-secondary-bg-active: #{$theme-mars-darkest};

  --btn-unstyled-text: #{$theme-ultraviolet-muted-lighter};
  --btn-unstyled-text-hover: #{$theme-ultraviolet-muted-light};
  --btn-unstyled-bg-hover: #{$theme-ultraviolet-darker};

  --btn-primary-text: #{$theme-black};

  --btn-logout-primary-bg: #{$theme-ultraviolet-muted-lighter};
  --btn-logout-text: #{$black};
  --btn-logout-hover: #{$theme-ultraviolet-muted-lightest};

  --btn-add-widget-border: #{$theme-spacebase-dark};
  --btn-add-widget-bg: #{$theme-spacebase-darker};
  --btn-add-widget: #{$theme-ultraviolet-muted-lighter};
  --btn-add-widget-icon: #{$theme-white};
  --btn-add-widget-icon-hover: #{$theme-spacebase-lightest};

  --btn-delete-text: #{$state-error-base};
  --btn-delete-text-hover: #{$state-error-dark};
  --btn-delete-bg-hover: #{$state-error-lighter};

  // Sites & Apps
  --toolbar-bg: rgba(0, 0, 0, 0.6);
  --toolbar-section-border: rgba(0, 0, 0, 0.6);
  --btn-sort-border: #{$theme-ultraviolet-muted-lighter};
  --btn-sort-bg: #{$theme-ultraviolet-muted-lighter};
  --btn-sort-text: #{$theme-black};
  --btn-sort-hover-bg: #{$theme-ultraviolet-muted-light};
  --btn-sort-hover-text: #{$theme-black};
  --btn-sort-disabled-bg: #b2b4ba;
  --btn-sort-disabled-border: #b2b4ba;
  --btn-sort-disabled-text: #{$theme-black};

  --btn-select-collections-bg: #{$theme-ultraviolet-muted-light};
  --btn-select-collections-bg-hover: #{$theme-ultraviolet-muted-lighter};

  --widget-sites-apps-bg: rgba(0, 0, 0, 0.3);
  --bookmark-sites-apps-bg: rgba(0, 0, 0, 0.3);
  --bookmark-sites-apps-border: black;

  //Sites & Apps - alpha view
  --bookmark-sites-apps-text: #{$white};
  --bookmark-sites-apps-alpha-bg-odd: rgba(0, 0, 0, 0.3);
  --bookmark-sites-apps-alpha-bg-even: rgba(0, 0, 0, 0.6);

  --btn-disabled-text: #{$theme-ultraviolet-muted-lighter};
  --btn-disabled-text-hover: #{$theme-ultraviolet-muted-light};
  --btn-disabled-bg: transparent;
  --btn-disabled-bg-hover: transparent;
  --btn-disabled-outline: #{$theme-ultraviolet-muted-lighter};
  --btn-disabled-outline-hover: #{$theme-ultraviolet-muted-light};

  --btn-theme-toggle-bg: #{$theme-ultraviolet-muted-lighter};
  --btn-theme-toggle-text: #{$black};

  // Bookmark
  --bookmark-bg: #{$theme-ultraviolet-darkest};
  --bookmark-hover: #{$theme-spacebase-dark};
  --bookmark-border: #{$theme-spacebase-darkest};
  --bookmark-border-hover: #{$theme-ultraviolet-muted-light};

  --icon: #{$theme-white};
  --icon-hover: #{$theme-spacebase-light};
  --input-bg: #{$theme-white};
  --input-text: #{$theme-black};
  --custom-link-icon: url('/assets/images/icon_custom-link-dark.svg');
  --bookmark-info-icon-color: var(--link-primary);

  // Widgets
  --widget-bg: #{$theme-spacebase-darker};
  --widget-border: #{$theme-spacebase-darker};
  --widget-selected: #{rgba($black, 0.65)};
  --widget-selected-border: #{$theme-spacebase-base};

  // News
  --btn-box-bg: #{$theme-spacebase-darker};
  --btn-box-border: #{$theme-spacebase-darker};
  --date-icon-bg: #{$theme-cosmiclatte-lightest};

  //Featured Shortcuts
  --shortcut-bg: #{$theme-ultraviolet-darkest};
  --shortcut-bg-hover: #{$theme-spacebase-base};
  --shortcut-border: #{$theme-spacebase-darkest};
  --shortcut-border-hover: #{$theme-ultraviolet-muted-light};

  // Tags
  --tag-source-bg: #{$label-source-darktheme-bg};
  --tag-source-text: #{$black};
  --tag-source-svg: #{$label-source-darktheme-icon};
  --tag-audience-bg: #{$label-audience-darktheme-bg};
  --tag-audience-text: #{$black};
  --tag-audience-svg: #{$label-audience-darktheme-icon};
  --tag-base-bg: #{$label-base-darktheme-bg};
  --tag-base-text: #{$black};
  --tag-base-svg: #{$label-base-darktheme-icon};

  // Categories
  --category-externalnews-bg: #{$category-externalnews-darktheme};
  --category-externalnews-text: #{$black};
  --category-internalnews-bg: #{$category-internalnews-darktheme};
  --category-internalnews-text: #{$black};
  --category-ussf-news-bg: #{$neutral-gray-200};
  --category-ussf-news-text: #{$black};
  --category-application-bg: #{$theme-ultraviolet-muted-lighter};
  --category-application-text: #{$black};
  --category-announcement-bg: #{$theme-mars-lighter};
  --category-announcement-text: #{$black};
  --category-ussf-documentation-bg: #{$theme-cosmiclatte-light};
  --category-ussf-documentation-text: #{$black};

  // Menus
  --dropdown-menu-bg: #{$theme-spacebase-darkest};
  --dropdown-menu-bg-hover: #{$theme-spacebase-darker};
  --dropdown-menu-disabled-text: #a3ffb650;
  --page-nav-link: #{$theme-ultraviolet-muted-lightest};
  --page-nav-link-after: #{$theme-ultraviolet-muted-light};

  // Form Elements
  --form-combobox-bg: #{$theme-spacebase-darker};
  --form-input-bg: #{$theme-spacebase-darker};
  --form-input-text: #{$theme-white};
  --form-input-border: #{color(base-light)};
  --form-input-placeholder: #{$theme-white};

  // Announcements
  --announcement-bg: #{$theme-spacebase-darker};
  --announcement-text: #{$white};
  --announcement-divider: #{$theme-spacebase-light};
  --announcement-active-dots: #{$theme-spacebase-light};
  --announcement-dots: #{$theme-spacebase-lightest};
  --announcement-border: #{$theme-spacebase-light};
  --announcement-btn-text: #{$black};
  --announcement-arrow-color: brightness(0) saturate(100%) invert(84%)
    sepia(15%) saturate(902%) hue-rotate(78deg) brightness(89%) contrast(84%);

  // Pagination
  --pagination-page-number-bg: #{$theme-cosmiclatte-base};
  --pagination-page-number-border: #{$theme-spacebase-lighter};
  --pagination-page-number-active: #{$neutral-gray-900};
  --pagination-page-number-active-border: #{$theme-cosmiclatte-base};

  // Articles
  --article-link-text: #{$theme-ultraviolet-muted-light};
  --article-excerpt-text: #{$theme-white};

  // Alerts
  --alert-text: #{$theme-black};
  --alert-success-border: #{$blue-gray};
  --alert-success-bg: #{$state-success-lighter};
  --alert-warning-bg: #{$state-warning-lighter};
  --alert-warning-border: #{$blue-gray};
  --alert-error-bg: #{$state-error-lighter};
  --alert-error-border: #{$blue-gray};
  --alert-info-bg: #{$state-info-lighter};
  --alert-info-border: #{$blue-gray};

  // Filters for SVG color changes
  // Generated using https://codepen.io/sosuke/pen/Pjoqqp
  --filter-light: brightness(0) saturate(100%) invert(98%) sepia(1%)
    saturate(2653%) hue-rotate(178deg) brightness(118%) contrast(100%);

  // Breadcrumbs
  --breadcrumbs-link: #{$theme-ultraviolet-muted-lighter};
  --breadcrumbs-link-hover: #{$white};
  --breadcrumbs-edit-display-name: #{$theme-ultraviolet-muted-lighter};

  // Dark bg links
  --dark-bg-link: #{$theme-ultraviolet-muted-lighter};
  --dark-bg-link-hover: #{$white};

  // Footer
  --footer-bg: #{$black};
  --footer-text: #{$theme-ultraviolet-muted-lighter};
  --footer-border: #{$theme-ultraviolet-muted-light};

  // Accordion
  --accordion-title: #{$white};
  --accordion-btn-bg: #{$theme-spacebase-darkest};
  --accordion-btn-bg-hover: #{$theme-spacebase-dark};
  --accordion-content-bg: #{$theme-spacebase-darker};
  --accordion-content-border: #{$theme-spacebase-darkest};
  --accordion-plus-btn-img-path: #{$accordion-dark-plus-icon-path};
  --accordion-minus-btn-img-path: #{$accordion-dark-minus-icon-path};

  // Search
  --search-input-text-color: #{$theme-ultraviolet-muted-lightest};
  --search-input-bg-color: rgba(100, 114, 180, 0.1);
  --search-button-text: #{$theme-ultraviolet-darkest};
  --search-button-bg: #{$theme-ultraviolet-muted-light};
  --search-button-bg-hover: #{$theme-ultraviolet-muted-lighter};
  --search-input-border-color: #{$theme-ultraviolet-muted-light};
}
