$sfds-heading-font: 'Sharp Sans', 'Trebuchet MS', Lucida Grande,
  Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif;
$sfds-body-font: 'Trebuchet MS', Lucida Grande, Lucida Sans Unicode, Lucida Sans,
  Tahoma, sans-serif;

@mixin heading-book {
  font-family: $sfds-heading-font;
  font-weight: 400;
}

@mixin heading-medium {
  font-family: $sfds-heading-font;
  font-weight: 500;
}

@mixin heading-bold {
  font-family: $sfds-heading-font;
  font-weight: 700;
}

@mixin heading-normal {
  font-family: $sfds-heading-font;
  font-style: normal;
}

@mixin heading-italic {
  font-family: $sfds-heading-font;
  font-style: italic;
}
