/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/
$asset-path: '' !default;
$uswds-asset-path: '#{$asset-path}/vendor' !default;
//
@use 'uswds-core' with (
  /* GENERAL */ $theme-show-notifications: false,
  $theme-image-path: '#{$uswds-asset-path}/img',

  /* TYPOGRAPHY */ $theme-font-path: '#{$uswds-asset-path}/fonts',

  // USWDS CHANGES (for MVP)
  $theme-alert-icon-size: 4,
  $theme-font-type-sans: 'system',
  $theme-font-sans-custom-stack:
    'Trebuchet MS, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Tahoma, sans-serif',
  $theme-font-role-heading: 'sans',
  $theme-font-role-alt: 'sans',
  $theme-font-weight-thin: 200,
  $theme-font-weight-heavy: 900,
  $theme-h2-font-size: 'lg',
  $theme-h3-font-size: 'md',

  /* SPACING */ /* COMPONENTS */ /* GRID */ $theme-site-margins-mobile-width: 2,
  // 16px
  $theme-site-margins-width: 3,
  // 24px
  $theme-column-gap-mobile: 3,
  // 24px
  $theme-column-gap-desktop: 3,
  // 24px
  $theme-utility-breakpoints:
    (
      'card': false,
      // 160px
      'card-lg': false,
      // 240px
      'mobile': false,
      // 320px
      'mobile-lg': true,
      // 480px
      'tablet': true,
      // 640px
      'tablet-lg': true,
      // 800px
      'desktop': true,
      // 1024px
      'desktop-lg': true,
      // 1200px
      'widescreen': false,
      // 1400px
    )
);
