@use 'uswds-core' as util;
@use 'styles/govBanner' as *;

.siteContainer {
  @include util.at-media('desktop') {
    display: flex;
  }
}

.mainContainer {
  @include util.at-media('desktop') {
    flex: 1 1 0 !important;
  }
}

.layoutLogin {
  :global {
    @include gov-banner;
  }

  .page-site-notice {
    .usa-banner__inner,
    .usa-banner__content {
      max-width: units('tablet');
    }
  }
}
