@import 'styles/uswdsDependencies';

.typeTable td, th {
    text-align: left;
    padding: 8px;
}

.typeTable h1 {
    font: 400 42px/0 "Trebuchet", sans-serif;
}

.typeTable h2 {
    font: 400 32px/0 "Trebuchet", sans-serif;
}

.typeTable h3 {
    font: 400 22px/0 "Trebuchet", sans-serif;
}

.typeTable h4 {
    font: 400 16px/0 "Trebuchet", sans-serif;
}

.typeTable h5 {
    font: 400 15px/0 "Trebuchet", sans-serif;
}

.typeTable h6 {
    font: 400 13px/0 "Trebuchet", sans-serif;
}




/* font-style
font-variant
font-weight
font-size/line-height
font-family */