@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;

.disabled {
  cursor: not-allowed;
}

.disabledCollection {
  pointer-events: none;

  > * {
    margin: 0;
  }
}

.selectable {
  display: block;
  position: relative;
  margin-bottom: units(3);
  text-align: left;
  width: 100%;
  line-height: 1.15;

  &.selected {
    .disabledCollection {
      > * {
        border: 4px solid $theme-ultraviolet-base;
        border-radius: 4px;
      }
    }
  }

  &:not(.disabled) {
    &:hover,
    &:focus,
    &:focus-within {
      .overlay {
        opacity: 1;
      }
    }
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.12s;
  background-color: var(--widget-selected);
}
