@import 'styles/uswdsDependencies';
// @import 'styles/sfds/sfdsDependencies';

.widget {
  border: 1px solid var(--widget-border);
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
  padding: units(3) units(2);
  margin-bottom: units(3);
  background-color: var(--widget-bg);

  h3 {
    margin: 0;
    font-weight: normal;
    font-size: font-size('heading', 'lg');
    line-height: lh('heading', 2);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    svg {
      font-size: 12px;
      color: var(--icon);
    }
  }

  .header + * {
    margin-top: units('205');
  }
}

.dropdownMenuToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}
