@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

$iconsize: 110px;

.editableWeatherWidget {
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    display: none;
  }

  :global(.usa-button).cancelButton {
    color: var(--btn-disabled-text);
    background-color: var(--btn-disabled-bg);
    box-shadow: inset 0 0 0 2px var(--btn-disabled-outline);
    &:hover {
      color: var(--btn-disabled-text-hover);
      background-color: var(--btn-disabled-bg-hover);
      box-shadow: inset 0 0 0 2px var(--btn-disabled-outline-hover);
    }
  }
}

.location {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  :global(.usa-button--unstyled) {
    font-family: $sfds-heading-font;
    font-weight: 500;
  }
}

.alertPadding {
  padding-top: 0;
  padding-bottom: 0;
}

// This is a workaround for scaling up the size of the first icon in the weather widget.
// The FontAwesome icon component needs to have an inline style of fontSize that matches
// these values.
.icon {
  height: $iconsize;
  width: $iconsize;
}

.dropdownMenuToggle {
  background: transparent;
  border: none;
  cursor: pointer;
}

.currentForecast {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: SharpSans, sans-serif;
  padding-top: 1rem;
  svg path {
    fill: var(--weather-icons);
  }

  > div.shortForecast {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 0 0 0 2rem;
    border-right: 1px solid var(--border-color);
    &:last-child {
      border-right: none;
    }

    > h3 {
      font-size: 40px;
      line-height: normal;
      @include heading-bold;
    }

    > p {
      font-size: 16px;
      font-weight: 400;
      font-family: $sfds-body-font;
    }

    > * {
      margin: 0 !important;
    }
  }
}

.hourlyForecast {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;

  svg path {
    fill: var(--weather-icons);
  }

  > div.nextFourHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 33%;
    padding: 0.5rem 0;

    > h5 {
      padding-top: 0.5rem;
      padding-bottom: 0.25rem;
      font-size: 30px;
      font-weight: bold;
      line-height: normal;
      transform: translateX(5px);
      @media (max-width: 400px) {
        font-size: 20px;
        transform: translateX(0px);
      }
    }

    > * {
      margin: 0 !important;
    }
  }
}

.section .h4 {
  font-size: 18px;
}

.errorContainer {
  display: flex;
  flex-direction: column;

  > button {
    align-self: flex-end;
    margin-top: 0.5rem;
  }
}
