@import 'styles/uswdsDependencies';
@import 'styles/mvp/mixins';
@import 'styles/mvp/settings';

.Footer {
  // USWDS OVERRIDES
  :global {
    .usa-footer__primary-link,
    .usa-footer__contact-info,
    .usa-footer__return-to-top {
      @include heading-small;
    }

    .usa-footer__primary-content {
      @include heading-small;
    }

    .usa-footer__primary-link {
      color: color('ink') !important;
    }

    .usa-footer__contact-heading {
      font-weight: $theme-font-weight-light;
      text-transform: uppercase;
      letter-spacing: 0.025em;
    }

    .social-link--linkedin {
      background-image: url(/img/linkedin.svg),
        linear-gradient(transparent, transparent);
      background-repeat: no-repeat;
    }
  }
}
