@use 'styles/sfds/index.scss' as sfds;
@use 'uswds-core' as util;

.dragIconWrap svg {
  margin-bottom: 2px;
  color: sfds.$theme-spacebase-lighter;
}

.dragIconWrap:focus svg {
  margin-bottom: 0px;
}

.dragBookmark {
  margin-left: 10px;
  width: calc(100% - 1rem);
}
