@import 'styles/uswdsDependencies';
// @import 'styles/sfds/sfdsDependencies';

.PageHeader {
  color: var(--text);
  @include u-padding-bottom(4);

  h1 {
    text-transform: uppercase;
    margin-bottom: 0;
  }
  li {
    color: var(--text);
  }
  :global(.usa-breadcrumb__list-item:not(:last-child)::after) {
    background: var(--text);
  }
  a,
  :global(.usa-breadcrumb__link),
  :global(.usa-link) {
    color: var(--breadcrumbs-link);
    &:visited {
      color: var(--breadcrumbs-link);
    }
  }

  :global(.grid-row) {
    align-items: center;
  }

  & + * {
    margin-top: units(4);
  }
}
