/** Space Force Design System **/
/** ------------------------- **/
@use 'uswds-core' as *;

// Sharp Sans
@forward '../fonts.scss';
@use '../fonts.scss' as *;

// variables, mixins, etc.
@forward '../colors';
@forward '../type';
@forward '../grid';

@use '../colors' as *;
@use '../type' as *;
@use '../grid' as *;

// Overwrite grid-container in SFDS
.sfds {
  .grid-container {
    @include sfds-grid-container();

    &.grid-container--spacious {
      @include sfds-grid-container(true);

      @include sfds-at-media('tablet') {
        .grid-row.grid-gap {
          @include grid-gap(4);
        }
      }

      @include sfds-at-media('laptop') {
        .grid-row.grid-gap {
          @include grid-gap(6);
        }
      }
    }
    &.grid-container--fill {
      max-width: none;
      padding: 0;
    }
  }
}

// namespace all styles in the .sfds class (until MVP is deprecated)
.sfds {
  font-family: $sfds-body-font;
  color: var(--text);

  ::selection {
    background: $theme-ultraviolet-muted-lighter;
  }

  h1 {
    font-size: 40px;
    line-height: normal;
    @include heading-bold;
  }

  h2 {
    font-size: 32px;
    line-height: normal;
    @include heading-bold;

    // MVP css reset
    text-transform: none;
    letter-spacing: normal;
  }

  h3 {
    font-size: 22px;
    line-height: normal;
    @include heading-bold;
  }

  h4 {
    font-size: 16px;
    line-height: normal;
    @include heading-bold;
  }

  h5 {
    font-size: 15px;
    line-height: normal;
    @include heading-book;
  }

  h6 {
    font-size: 13px;
    line-height: normal;
    @include heading-book;
  }

  .usa-focus,
  input:not([disabled]):focus,
  select:not([disabled]):focus,
  textarea:not([disabled]):focus,
  button:not([disabled]):focus,
  iframe:focus,
  [href]:focus,
  [tabindex]:focus,
  [contentEditable='true']:focus {
    outline: 0.25rem solid var(--element-focus);
  }

  p,
  .usa-prose ul {
    color: var(--paragraph-text);
  }

  .usa-prose,
  .usa-intro,
  .usa-table,
  .usa-table caption,
  .usa-header,
  .usa-nav,
  .usa-accordion,
  .usa-nav .usa-accordion {
    font-family: $sfds-body-font;
  }

  .usa-prose {
    > {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $sfds-heading-font;
      }

      table,
      table caption {
        font-family: $sfds-body-font;
      }
    }
  }

  a,
  .usa-link {
    color: var(--link-primary);
    &:hover {
      color: var(--link-primary-hover);
    }
  }

  .usa-dark-background {
    background-color: $theme-spacebase-darkest;

    ::selection {
      background: $theme-ultraviolet-muted-base;
    }

    p,
    span,
    .usa-breadcrumb {
      color: $theme-cosmiclatte-lightest;
    }

    a {
      color: var(--dark-bg-link);
      &:hover,
      &:focus {
        color: var(--dark-bg-hover);
      }
    }

    .usa-breadcrumb__list-item:not(:last-child)::after {
      background-color: $theme-cosmiclatte-lightest;
      -webkit-mask: url('/vendor/img/usa-icons/navigate_next.svg') no-repeat
        center/2ex 2ex;
    }
  }

  /*** Buttons ***/

  // Primary (default)
  .usa-button {
    color: var(--btn-primary-text);
    background-color: var(--btn-primary-bg);
    font-family: $sfds-body-font;
    padding: 12px 24px;

    &:hover,
    &.usa-button--hover {
      color: var(--btn-primary-text);
      background-color: var(--btn-primary-bg-hover);
    }

    &:active,
    &.usa-button--active {
      color: var(--btn-primary-text);
      background-color: var(--btn-primary-bg-active);
    }

    &:disabled {
      opacity: 0.45;
    }

    // Reset modal close buton styles
    &.usa-modal__close {
      color: #71767a;
      background-color: transparent;
      &:hover,
      &:active {
        color: #000;
      }
    }
  }

  // Secondary
  .usa-button--secondary {
    color: var(--btn-secondary-text);
    background-color: var(--btn-secondary-bg);

    &:hover,
    &.usa-button--hover {
      color: white;
      background-color: var(--btn-secondary-bg-hover);
    }

    &:active,
    &.usa-button--active {
      color: white;
      background-color: var(--btn-secondary-bg-active);
    }
  }

  .usa-button--accent-cool,
  .usa-menu-btn {
    background-color: $theme-ultraviolet-light;
    color: $theme-white;

    &:hover,
    &.usa-button--hove,
    &:focus,
    &.usa-button--focus {
      color: $theme-white;
      background-color: $theme-ultraviolet-base;
    }

    &:active,
    &.usa-button--active {
      color: $theme-white;
      background-color: $theme-ultraviolet-base;
    }
  }

  .usa-button--muted {
    background-color: $theme-ultraviolet-muted-base;

    &:hover,
    &.usa-button--hover {
      background-color: $theme-ultraviolet-muted-dark;
    }

    &:active,
    &.usa-button--active {
      background-color: $theme-ultraviolet-muted-darker;
    }
  }

  .usa-button--base {
    background-color: $theme-spacebase-light;

    &:hover,
    &.usa-button--hover {
      background-color: $theme-spacebase-base;
    }

    &:active,
    &.usa-button--active {
      background-color: $theme-spacebase-darkest;
    }
  }

  .usa-button--unstyled {
    background-color: transparent;
    color: var(--btn-unstyled-text);
    padding: 12px 20px;

    &:hover {
      background-color: var(--btn-unstyled-bg-hover);
      color: var(--btn-unstyled-text-hover);
    }
    &.text-error {
      color: var(--btn-delete-text);
      &:hover {
        background-color: var(--btn-delete-bg-hover);
        color: var(--btn-delete-text-hover);
      }
    }
  }

  .usa-button--outline {
    background-color: transparent;
    color: var(--btn-outline-text);
    box-shadow: inset 0 0 0 2px var(--btn-outline-text);

    &:hover,
    &.usa-button--hover {
      background-color: transparent;
      color: var(--btn-outline-hover);
      box-shadow: inset 0 0 0 2px var(--btn-outline-hover);
    }

    &:active,
    &.usa-button--active {
      background-color: transparent;
      color: var(--btn-outline-active);
      box-shadow: inset 0 0 0 2px var(--btn-outline-active);
    }

    &:disabled {
      background-color: transparent;
      color: $state-disabled-dark;
      box-shadow: inset 0 0 0 2px $state-disabled-base;
    }

    &.usa-button--unstyled {
      box-shadow: none;
    }

    // Outline + Inverse (dark background)
    &.usa-button--inverse {
      box-shadow: inset 0 0 0 2px $theme-cosmiclatte-base;
      color: $theme-cosmiclatte-base;

      &:hover,
      &.usa-button--hover {
        color: $theme-cosmiclatte-lightest;
        box-shadow: inset 0 0 0 2px $theme-cosmiclatte-lightest;
      }

      &:active,
      &.usa-button--active {
        color: $theme-cosmiclatte-lightest;
        box-shadow: inset 0 0 0 2px $theme-cosmiclatte-lightest;
      }

      &:disabled {
        color: $state-disabled-dark;
        box-shadow: inset 0 0 0 2px $state-disabled-dark;
      }

      &.usa-button--unstyled {
        box-shadow: none;

        &:focus {
          outline: 0.25rem solid var(--element-focus);
        }
      }
    }
  }

  // Big button

  .usa-button--big {
    font-family: $sfds-heading-font;
    padding: units(2) units(4);
  }

  .text-error {
    color: $state-error-base;
  }

  /** Modals **/
  .usa-modal__main {
    margin: 0; // Let content be full-width of the modal

    .usa-form {
      max-width: none;
    }
  }
  /** Tooltip **/
  .usa-tooltip__body {
    background-color: $theme-spacebase-dark;
    padding: units(2);
  }

  /** Breadcrumbs **/
  .usa-breadcrumb {
    background-color: transparent;
  }

  .usa-breadcrumb__link {
    text-decoration: underline;
  }

  /** Tags **/
  .usa-tag {
    padding: 3px units(1);
    display: inline-flex;
    height: 23px;
    align-items: center;
    @media (max-width: 440px) {
      height: auto;
    }
  }

  /** Forms **/
  .usa-combo-box__input,
  .usa-input-group,
  .usa-input,
  .usa-textarea,
  .usa-range,
  .usa-select {
    background-color: var(--form-input-bg);
    color: var(--form-input-text);
    border: 1px solid var(--form-input-border);
    input {
      background-color: var(--form-input-bg);
      color: var(--form-input-text);
      border: 1px solid var(--form-input-border);
      &::placeholder {
        color: var(--form-input-placeholder);
      }
    }
  }
  button.usa-combo-box__toggle-list {
    filter: var(--filter-light);
  }

  .usa-combo-box__list,
  .usa-combo-box__list-option {
    background-color: var(--form-combobox-bg);
    color: var(--form-input-text);
  }

  // Alerts
  .usa-alert {
    p {
      color: var(--alert-text);
    }
    &.usa-alert--success {
      background-color: var(--alert-success-bg);
      border-left-color: var(--alert-success-border);
    }
    &.usa-alert--warning {
      background-color: var(--alert-warning-bg);
      border-left-color: var(--alert-warning-border);
    }
    &.usa-alert--error {
      background-color: var(--alert-error-bg);
      border-left-color: var(--alert-error-border);
    }
    &.usa-alert--info {
      background-color: var(--alert-info-bg);
      border-left-color: var(--alert-info-border);
    }
  }
  @supports ((-webkit-mask: url('')) or (mask: url(''))) {
    .usa-alert--success,
    .usa-alert--warning,
    .usa-alert--error,
    .usa-alert--info {
      &:before {
        background: transparent;
        background-color: #ffffff00;
        mask: none;
        -webkit-mask: none;
      }
    }
  }
}
