/** Space Force Design System **/
/** ------------------------- **/

// Sharp Sans
@import '../fonts.scss';

// variables, mixins, etc.
@import 'colors';
@import 'type';

// namespace all styles in the .sfds class (until MVP is deprecated)
.sfds {
  font-family: $sfds-body-font;

  h1 {
    font-size: 40px;
    line-height: normal;
    @include heading-bold;
  }

  h2 {
    font-size: 32px;
    line-height: normal;
    @include heading-bold;
  }

  h3 {
    font-size: 22px;
    line-height: normal;
    @include heading-book;
  }

  h4 {
    font-size: 16px;
    line-height: normal;
    @include heading-bold;
  }

  h5 {
    font-size: 15px;
    line-height: normal;
    @include heading-book;
  }

  h6 {
    font-size: 13px;
    line-height: normal;
    @include heading-book;
  }

  .usa-prose,
  .usa-intro,
  .usa-table,
  .usa-table caption,
  .usa-header,
  .usa-nav,
  .usa-accordion,
  .usa-nav .usa-accordion {
    font-family: $sfds-body-font;
  }

  .usa-prose {
    > {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-family: $sfds-heading-font;
      }

      table,
      table caption {
        font-family: $sfds-body-font;
      }
    }
  }

  .usa-link {
    color: $theme-ultraviolet-base;
  }

  .usa-dark-background {
    background-color: $theme-spacebase-darkest;

    a {
      color: $theme-aurora-base;
    }
  }
}
