@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.announcementContainer {
  display: flex;
  align-items: center;
  // justify-content: space-evenly;
  height: 100%;
}

.date {
  font-family: 'Sharp Sans';
  font-style: normal;
  font-weight: 400 !important;
  font-size: 18px;
  line-height: 23px;
  color: $black;
}

.innerContainer {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }

  > div > a {
    font-family: 'Trebuchet MS';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    white-space: nowrap;
  }
}

.divider {
  background-color: #707c91;
  height: 50px;
  margin-right: 3%;
}

.title {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: $black;
}

.body {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: $black;
}
