@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.announcementContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.date {
  font-family: 'Sharp Sans';
  line-height: 23px;
  width: 25%;
  max-height: 25%;
  padding-left: 1rem;
}

.gridContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto;
  align-items: center;
  border-left: 1px solid $theme-spacebase-light;
  padding-left: 20px;

  p {
    margin: 0;
    grid-row: 2 / 2;
    align-self: flex-start;
    font-size: 1rem;
    color: var(--announcement-text);
  }

  p + div {
    grid-row: 1 / 3;
    display: flex;
    justify-content: center;
  }

  > div > a {
    font-family: $sfds-body-font;
    white-space: nowrap;
    color: var(--announcement-btn-text) !important;
  }
}

p.title {
  line-height: 150%;
  grid-row: 1 / 1;
}
