@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/govBanner' as *;
@use 'styles/pagination' as *;

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .stickyHeader {
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  :global {
    // Dark theme gov banner
    @include gov-banner;
    // USSF themed pagination
    @include pagination;
  }

  main {
    background: var(--body-img), var(--body-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text);
    flex: 1;
    padding-bottom: units(7);
    padding-top: 80px;
    @include sfds-at-media('tablet') {
      padding-top: 100px;
    }
    @include sfds-at-media('tablet-lg') {
      padding-top: 123px;
    }
  }
}
