@use 'styles/govBanner' as *;

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
  }

  main {
    background: var(--body-img), var(--body-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text);
    flex: 1;
    padding-bottom: units(7);
  }
}
