@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/govBanner' as *;
@use 'styles/pagination' as *;

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
    // USSF themed pagination
    @include pagination;
  }

  > div.pageContent {
    background: var(--body-img), var(--body-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text);
    min-height: calc(100vh - 392px);
    padding: 88px;
  }
}
