@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
@use 'styles/govBanner' as *;
@use 'styles/pagination' as *;

.siteContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
    // USSF themed pagination
    @include pagination;
  }

  > div.pageContent {
    background: var(--body-img), var(--body-gradient);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text);
    display: flex;
    justify-content: space-evenly;
  }
}

.inPageNav {
  :global(.usa-in-page-nav-container) {
    justify-content: space-between;
  }

  :global(.usa-in-page-nav-container > .usa-in-page-nav) {
    background: transparent;
    margin-left: 0;
    margin-top: 0;
    order: initial;

    :global(.usa-in-page-nav__nav) {
      background-color: transparent;
    }
  }
}
