@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.featuredShortcuts {
  :global(.grid-row.grid-gap) {
    margin: 22px 0 0;
  }
  :global(h3) {
    font-family: $sfds-heading-font;
    color: var(--text);
  }
}

.featuredShortcutsRow {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
  margin-right: -6px;
  margin-bottom: 8px;
  .featuredShortcutsItem {
    height: 100px;
    margin: 6px;
    flex-grow: 1;
    font-size: 22px;
    line-height: normal;
    @include heading-book;

    font-weight: 500;
    list-style-type: none;
    border: 1px solid var(--shortcut-border);
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    background-color: var(--widget-bg);
    :global {
      img {
        max-width: 67px;
        margin-left: 1rem;
        margin-right: 1rem;
      }
      a {
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        color: var(--text);
        &:hover,
        &:focus {
          background: var(--shortcut-hover-bg);
          border-radius: 4px;
        }
      }
    }

    @media (max-width: 1550px) {
      font-size: 18px;
      height: 76px;
      width: calc(25% - 24px);

      :global {
        img {
          max-width: 44px;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }
    @media (max-width: 1157px) {
      width: calc(50% - 24px);
      min-width: 176px;
    }
  }
}
