@use 'styles/sfds/index.scss' as sfds;
@use 'uswds-core' as util;

.header {
  background: sfds.$black;

  @include util.at-media('desktop') {
    padding: units('105') 0 0;
  }

  :global {
    .usa-nav-container {
      @include sfds.sfds-grid-container();
    }

    .usa-logo {
      img {
        width: 65px;
      }

      @include util.at-media('desktop') {
        margin: 0;

        img {
          width: 200px;
        }
      }
    }

    .usa-nav {
      background: sfds.$black;

      @include util.at-media('desktop') {
        align-self: center;
        padding: 0;
      }
    }

    .usa-nav__primary button {
      color: sfds.$theme-white;
      border-radius: 6px;
    }

    .usa-nav__primary > .usa-nav__primary-item + .usa-nav__primary-item {
      margin-left: units(2);
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      color: sfds.$theme-white;
      font-weight: normal;
      font-family: sfds.$sfds-body-font;

      &:hover {
        background: sfds.$theme-spacebase-base;
        border-radius: 6px;
      }

      &.usa-current {
        background: sfds.$theme-aurora-lightest;
        color: sfds.$theme-black;
        border-radius: 6px;

        &:after {
          content: none;
        }
      }
    }

    .usa-nav__primary > .usa-nav__primary-item > .usa-nav__submenu {
      background-color: sfds.$theme-spacebase-base;
    }

    .usa-nav__primary > .usa-nav__primary-item > button {
      font-weight: normal;

      &:hover {
        background-color: sfds.$theme-spacebase-base;
      }
    }

    .usa-nav__primary button[aria-expanded='false'] span::after {
      background-color: sfds.$white;
    }

    .usa-nav__primary
      > .usa-nav__primary-item
      > button.usa-accordion__button.usa-nav__link.usa-current::after {
      background-color: transparent !important;
    }
  }

  :global(.usa-nav__primary) .logoutButton {
    margin-left: units(2);
  }

  :global(.usa-nav__primary) > li > button.logoutButton {
    background: var(--btn-logout-primary-bg);
    color: var(--btn-logout-text);

    &:hover {
      background: var(--btn-logout-hover);
    }
  }
}
