@import 'styles/uswdsDependencies';

.header {
  background: #333;

  @include at-media('desktop') {
    padding: units('105') 0;
  }

  :global {
    .usa-nav-container {
      @include grid-container('widescreen');
    }

    .usa-logo {
      img {
        width: 65px;
      }

      @include at-media('desktop') {
        margin: 0;

        img {
          width: 114px;
        }
      }
    }

    .usa-nav {
      background: #333;

      @include at-media('desktop') {
        align-self: center;
        padding: 0;
      }
    }

    .usa-nav__primary > .usa-nav__primary-item > a {
      color: #fff;
      font-weight: normal;
      font-family: 'Trebuchet', sans-serif;

      &:hover {
        background: #e4e4e4;
        color: #000000;
        border-radius: 6px;
      }
    }
  }
}
