@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.addWidget {
  display: block;
  text-align: center;
  background-color: var(--btn-add-widget-bg);
  border: 1px solid var(--btn-add-widget-border);
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: units(3);
}

.addWidgetButton {
  cursor: pointer;
  border: none;
  background: transparent;
  color: var(--btn-add-widget);
  @include u-font-size('body', 'lg');
  font-family: $sfds-heading-font;

  svg {
    pointer-events: none;
  }

  .plus {
    color: var(--btn-add-widget-icon);
    svg {
      width: 70px;
      height: 70px;
    }
  }

  &:hover {
    .plus {
      color: var(--btn-add-widget-icon-hover);
    }
  }
}
