@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.footer {
  background: var(--footer-bg);
  color: var(--footer-text);
  @include u-font-size('body', '2xs');

  .border {
    border-bottom: 1px solid var(--footer-border);
    padding-right: 0;
    height: 1px;
    margin: 2rem 0 2rem 1rem;
    padding: 0 0;
  }

  h3 {
    color: white;
    margin: 0;
    font-size: 18px;
  }

  p {
    color: white;
    max-width: 300px;
  }

  a:hover,
  a:focus {
    text-decoration: underline;
    color: white;
  }

  ul li a,
  p {
    font-size: 14px;
  }

  img {
    width: 127px;
    max-height: 200px;
  }

  .miniRow {
    flex-direction: column;
  }

  .miniCol {
    padding-bottom: 0;
  }

  :global {
    .usa-footer__secondary-link {
      margin-left: 0;
    }
    .usa-footer__return-to-top {
      background: #000;
      a {
        color: $theme-ultraviolet-lighter;
        &:hover,
        &:focus {
          color: #fff;
        }
      }
    }

    .usa-footer__secondary-section {
      color: var(--footer-text);
      background-color: transparent;

      a {
        color: var(--footer-text);
        text-decoration: none;
        font-weight: 600;
      }
    }

    .usa-footer__nav {
      @include u-padding-y(2);
      @include u-margin-x(0);

      a {
        &:hover,
        &:focus {
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }

  @include sfds-at-media('desktop') {
    .miniCol {
      padding-bottom: 0;
      flex-direction: row;
    }
    .miniRow {
      flex-direction: row;
    }
  }

  @include sfds-at-media('tablet-lg') {
    //desktop only
    h3 {
      margin-bottom: 14px;
    }
    .border {
      border-right: 1px solid var(--footer-border);
      padding-right: 0;
      width: 1px;
      height: auto;
      border-bottom: 0;
      margin-top: 0;
      margin-bottom: 0;
    }

    .miniCol {
      padding-bottom: 1rem;
    }
    :global {
      .usa-footer__secondary-section {
        .grid-container {
          padding: 2rem;
          max-width: 1800px;
        }
      }
    }
  }
}

//small only
@media (max-width: 1024px) {
  :global {
    .grid-row {
      flex-direction: column;
      width: 100%;
    }
    .grid-col {
      @include u-padding-y(2);
      @include u-padding-x(0);
    }

    border-bottom: 0px;
  }
  .usa-footer__secondary-section {
    flex-direction: column;
  }
  .usa-footer__primary-content {
    border-top: 0px;
  }
  .usa-list--unstyled > li {
    @include u-margin-x(0);
  }
}
