@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.footer {
  background: var(--footer-bg);
  color: var(--footer-text);
  @include u-font-size('body', '2xs');

  :global {
    .usa-footer__logo img {
      width: 250px;
    }

    .grid-col-auto {
      align-self: center;
    }

    .grid-row {
      @include sfds-at-media('tablet') {
        flex-direction: column;
      }
    }

    .usa-footer__secondary-section {
      color: $white;
      background-color: transparent;

      a {
        color: var(--footer-text);
        text-decoration: none;
        font-weight: 600;
      }
    }

    .usa-footer__nav {
      @include u-padding-y(2);
      @include u-margin-x(0);

      a {
        &:hover,
        &:focus {
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }
}

.madeByLink {
  display: inline-block;
  text-transform: uppercase;
  background-color: $theme-ultraviolet-dark;
  padding: units('05') units(1);
  font-size: size('body', '3xs');
  border-radius: 4px;

  span {
    line-height: 1;
  }

  &:hover {
    text-decoration: none;
    background-color: $theme-ultraviolet-darker;
  }
}
