@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.footer {
  background: var(--footer-bg);
  color: var(--footer-text);
  @include u-font-size('body', '2xs');

  h3 {
    color: white;
  }

  p {
    color: white;
  }

  ul li a,
  p {
    font-size: 14px;
  }

  img {
    width: 127px;
    max-height: 200px;
  }

  :global {
    .grid-col-auto {
      align-self: center;
    }

    .usa-footer__secondary-section {
      color: var(--footer-text);
      background-color: transparent;

      a {
        color: var(--footer-text);
        text-decoration: none;
        font-weight: 600;
      }
    }

    .usa-footer__nav {
      @include u-padding-y(2);
      @include u-margin-x(0);

      a {
        &:hover,
        &:focus {
          text-decoration: underline;
          color: $white;
        }
      }
    }
  }
}

.footer {
  :global {
    @media (max-width: 1040px) {
      .grid-row.grid-gap {
        @include u-margin-x(0);
      }
      .grid-row {
        flex-direction: column;
        width: 100%;
      }
      .grid-col {
        @include u-padding-y(2);
        @include u-padding-x(0);
        &:not(:last-child) {
          border-bottom: 2px double var(--footer-border);
        }
      }
      border-bottom: 0px;
    }
    .usa-footer__secondary-section {
      flex-direction: column;
    }
    .usa-footer__primary-content {
      border-top: 0px;
    }
    .usa-list--unstyled > li {
      @include u-margin-x(0);
    }
  }
}
