@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.footer {
  background: $theme-black;
  color: $theme-white;
  @include u-font-size('body', '2xs');

  :global {
    .grid-col-auto {
      align-self: center;
    }

    .usa-footer__secondary-section {
      color: $theme-white;
      background-color: transparent;

      a {
        color: $theme-white;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      > .grid-container {
        @include grid-container('widescreen');
      }
    }

    .usa-footer__nav {
      @include u-padding-y(2);
    }
  }
}
