@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.carouselContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  // min-height: 534px;
  background-color: #161f2f;
  border-radius: 4px;

  > :global(.slick-list) {
    // height: 100% !important;
    // min-height: 534px;
  }

  .dots {
    button.newsCarouselEllipse {
      width: 16.17px;
      height: 16px;
      border-radius: 50px;
      background: $theme-spacebase-lightest;
    }

    button::before {
      color: transparent;
    }
  }

  > :global(.slick-dots
      li.slick-active
      div.news-carousel-container
      button::before) {
    color: transparent;
    background: #112548;
    width: 16.17px;
    height: 16px;
    border-radius: 50px;
  }
}

.carouselArrow {
  &:hover {
    cursor: pointer;
  }
}
