@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.carouselContainer {
  width: 100%;
  background-color: $news-carousel;
  border-radius: 4px;

  .dots {
    button.newsCarouselEllipse {
      width: 16.17px;
      height: 16px;
      border-radius: 50px;
      background: $theme-spacebase-lightest;
    }

    button::before {
      color: transparent;
    }
  }

  > :global(
      .slick-dots li.slick-active div.news-carousel-container button::before
    ) {
    color: transparent;
    background: $theme-spacebase-base;
    width: 16.17px;
    height: 16px;
    border-radius: 50px;
  }
}

.carouselArrow {
  background: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
}
