@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.search {
  position: relative;

  .disabled {
    filter: blur(3px);
    user-select: none;
    pointer-events: none;
  }

  .comingSoon {
    text-align: center;
  }

  :global {
    .usa-select {
      background-image: url('/vendor/img/usa-icons-bg/expand_more--white.svg'),
        linear-gradient(transparent, transparent);
    }

    .usa-input {
      background-color: $theme-white;
      color: var(--search-input-text-color);
      @include u-padding('205' 4);
    }

    .usa-button {
      @include u-font-size('sans', 8);
      border-radius: 0px 6px 6px 0px;
      background-color: $theme-ultraviolet-base;
      color: var(--search-button-text);
      text-transform: unset;
      @include heading-book;
      font-weight: bold;

      &.usa-select {
        color: $theme-white;
        @include u-font-size('sans', 1);
        border: 0;
        border-radius: 6px 0 0 6px;
        margin: 0;
        height: 2rem;
        width: 8rem;

        @include at-media('mobile-lg') {
          @include u-font-size('sans', 3);
          height: 3rem;
          width: auto;
          padding-right: units(4);
        }
      }
    }

    ul {
      list-style: none;
      display: inline-flex;
      padding-left: 0;

      li {
        padding-right: units('05');
      }

      @include at-media('mobile-lg') {
        padding-left: units(1);
      }
    }
  }

  .suggestedTerms {
    margin-left: 0;
    padding-top: units(1);
    h3 {
      @include u-font-size('heading', 6);
      font-weight: 400;
      display: inline-flex;
    }
    @include at-media('tablet') {
      margin-left: 7rem;
    }
  }
}
