@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.ArticleDateIcon {
  border: 1px solid $theme-cosmiclatte-dark;
  border-radius: 6px;
  background-color: $theme-cosmiclatte-lightest;

  width: 65px;
  padding: units(1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  text-transform: uppercase;
  font-size: size('body', 7);

  small {
    font-size: size('body', 1);
  }

  * + * {
    margin-top: 2px;
  }
}
