@use 'styles/sfds/index.scss' as *;
@use 'uswds-core' as *;

.ArticleDateIcon {
  border: 1px solid $theme-cosmiclatte-dark;
  border-radius: 8px;
  background: var(--date-icon-bg);
  color: $black;

  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-size: size('body', 7);

  small {
    font-size: size('body', 1);
    line-height: 15px;
  }

  span {
    font-family: 'Sharp Sans';
    line-height: 23px;
  }

  * + * {
    margin-top: 2px;
  }
}
