@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
.toggleButton {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 0px;
  background: var(--btn-theme-toggle-bg);
  color: var(--btn-theme-toggle-text);
  border-radius: 4px;
  border-style: none;
  text-transform: uppercase;
  padding-right: units(2);
  padding: 0 16px 0 4px;
  svg {
    padding: units(1);
  }

  &:hover {
    cursor: pointer;
  }
}
