@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;
.newsWidget {
  article + article {
    margin-top: units(2);
    border-top: 1px solid #c4c4c4;
    padding-top: units(2);
  }

  article:last-of-type {
    margin-bottom: units(2);
  }
}
