@use 'styles/sfds/index.scss' as sfds;
@use 'uswds-core' as util;
@use 'styles/govBanner' as *;

$hero-image: url('/assets/images/hero-transparent.png');

.errorContainer {
  display: flex;
  flex-direction: column;
  background: sfds.$black;
  min-height: 100vh;

  :global {
    // Dark theme gov banner
    @include gov-banner;
  }

  main {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 100px;
    color: sfds.$theme-white;
    text-align: center;
    position: relative;

    :global(.grid-container) {
      z-index: 20;
    }

    img {
      // Logo
      width: 108px;
      margin-top: 31px;
    }

    h1 {
      color: rgba(sfds.$theme-ultraviolet-lighter, 0.35);
      font-size: 140px;
      margin: 0 0 -66px;
      &:after {
        content: ' ';
        position: absolute;
        width: 100vw;
        height: 135px;
        bottom: 0px;
        left: 0;
        background: $hero-image;
        background-repeat: no-repeat;
        background-position: bottom -90px center;
        background-size: 2000px auto;
      }

      @include util.at-media('mobile-lg') {
        font-size: 230px;
        margin: 0 0 -107px;
      }

      @include util.at-media('tablet') {
        font-size: 320px;
        margin: -40px 0 -150px;
      }

      @include util.at-media('desktop') {
        font-size: 460px;
        margin: -325px 0 -215px;
        color: rgba(sfds.$theme-ultraviolet-lighter, 0.2);
      }

      @include util.at-media('desktop-lg') {
        font-size: 620px;
        margin: -440px 0 -281px;
        color: rgba(sfds.$theme-ultraviolet-lighter, 0.2);
      }
    }

    h2 {
      margin-bottom: units(2.5);
      text-transform: uppercase;
    }

    h3 {
      font-size: 18px;
      line-height: 1.2;
      margin: 21px 0;
      max-width: 640px;
    }
  }

  &.errorContainerIECompat {
    display: block;

    main {
      display: block;
    }

    footer :global(.grid-row .grid-row) {
      display: block;
    }
  }

  :global(.usa-link) {
    color: sfds.$theme-mars-light;
    &:hover,
    &:focus {
      color: sfds.$theme-mars-lighter;
    }
  }

  :global(.usa-button) {
    margin-bottom: 16px;
  }
}
