@use 'styles/deps';
@use 'styles/sfds/index.scss' as *;

.tooltipButton,
:global(.sfds) .tooltipButton {
  @extend %button-reset;
  background-color: transparent;
  color: $state-warning-dark;

  &:hover {
    background-color: transparent;
    color: $state-warning-dark;
  }
}
