@use 'styles/sfds/index.scss' as sfds;
@use 'styles/deps';

.tooltipButton,
:global(.sfds) .tooltipButton {
  @extend %button-reset;
  background-color: transparent;
  color: sfds.$state-warning-dark;

  &:hover {
    background-color: transparent;
    color: sfds.$state-warning-dark;
  }
}
