@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.mySpace {
  background: var(--background-fill);
  .pageTitle {
    margin-top: 0;
    font-weight: 700;
    font-size: units(4);
  }

  .widgetContainer {
    border: 1px solid var(--widget-border);
    border-radius: 8px;
    padding: units(3) units(3) 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  .guardianIdeal {
    width: 100%;
    max-height: 534px;
    margin-bottom: 3rem;
  }

  .featuredShortcuts {
    width: 100%;
  }
}
