@use 'styles/uswdsDependencies';

$collectionHorizontalPadding: units(2);

.collectionList {
  @include add-list-reset;

  > li {
    @include u-margin-x(-$collectionHorizontalPadding);
    @include u-padding-x($collectionHorizontalPadding);
    display: flex;

    > * {
      flex: auto;
      width: 100%;
    }
  }

  > li + li {
    margin-top: units('05');
  }
}
