@import 'styles/uswdsDependencies';

$collectionHorizontalPadding: units(2);

.collection {
  padding: units(3) 0;

  > :first-child {
    // Header
    padding: 0 $collectionHorizontalPadding;
  }
}

.collectionList {
  @include add-list-reset;

  > li {
    @include u-padding-x($collectionHorizontalPadding);
    display: flex;

    > * {
      flex: auto;
      width: 100%;
    }
  }

  > li + li {
    margin-top: units('05');
  }
}
