.heading--small {
  @include heading-small;
}

.usa-intro {
  font-weight: 300;
}

main {
  p,
  .usa-prose ul {
    color: color('base');
  }
}

main,
.usa-prose {
  h1 {
    font-weight: $theme-font-weight-light;
  }

  h2 {
    font-weight: $theme-font-weight-light;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  h3 {
    font-weight: $theme-font-weight-normal;
  }
}

h1.page-header {
  margin-top: units(1);
}

h2.section-header {
  border-top: 1px solid color('ink');
  margin-top: units(10);
  padding-top: units(3);

  + * {
    margin-top: units(4);
  }

  &:first-child {
    margin-top: units(0);
  }
}

.usa-card-group + h2.section-header {
  margin-top: units(6);
}

h2.sidebar-header {
  @include u-font-size('body', 'md');
  margin-top: units(4);
  padding-top: units(3);

  + * {
    margin-top: units(4);
  }
}

.font-md2 {
  font-size: 1.25rem !important;
}

.launch-schedule-link {
  font-size: 12px;
}

.usa-prose > p + .launch-payload {
  margin-top: units(0.5);
}

.usa-prose > p + .training {
  margin-top: 4rem;
}

.usa-prose > .launch-border {
  margin-top: units(1);
  margin-bottom: units(2);
}

.usa-prose > h3.training-heading + * {
  margin-top: 0.25rem;
}

.banner .usa-intro {
  color: color('base-light');
  margin-top: units(1);
}

.training__sidebar {
  h3 {
    color: color('violet-warm-60v');
    font-weight: bold;
    font-size: 15px !important;
    letter-spacing: 0.025em;
  }
}

.squares {
  i {
    font-size: units(6);
    padding-top: 4px;

    &:last-child {
      background: -webkit-linear-gradient(45deg, #0050d8, #00bde3);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  div {
    transform: rotate(45deg);
  }
}

h2.training-heading {
  font-weight: bold;
  text-transform: none;
  letter-spacing: initial;
}

h3.training-heading {
  font-size: font-size('sans', '3xs');
}
