.heading--small {
  @include heading-small;
}

.usa-intro {
  font-weight: 300;
}

main {
  p,
  .usa-prose ul {
    color: color('base');
  }
}

main,
.usa-prose {
  h1 {
    font-weight: $theme-font-weight-light;
  }

  h2 {
    font-weight: $theme-font-weight-light;
    text-transform: uppercase;
    letter-spacing: 0.025em;
  }

  h3 {
    font-weight: $theme-font-weight-normal;
  }
}

h1.page-header {
  margin-top: units(1);
}

h2.section-header {
  border-top: 1px solid color('ink');
  margin-top: units(10);
  padding-top: units(3);

  + * {
    margin-top: units(4);
  }
}

.usa-card-group + h2.section-header {
  margin-top: units(6);
}

h2.sidebar-header {
  @include u-font-size('body', 'md');
  margin-top: units(4);
  padding-top: units(3);

  + * {
    margin-top: units(4);
  }
}

.font-md2 {
  font-size: 1.25rem !important;
}

.launch-schedule-link {
  font-size: 12px;
}

.usa-prose > p + .launch-payload {
  margin-top: units(0.5);
}

.usa-prose > .launch-border {
  margin-top: units(1);
  margin-bottom: units(2);
}
