@use 'styles/uswdsDependencies';
// @use 'styles/sfds/sfdsDependencies';

.announcement {
  position: relative;
  mix-blend-mode: normal;
  background-color: var(--announcement-bg);
  padding: 0 1.5rem 0;

  border: 1px solid var(--announcement-border);
  border-radius: units(1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
  :global(.usa-skipnav) {
    z-index: -1;
    top: 0;
    left: 0;
    &:focus {
      z-index: 2;
    }
  }
}

.latestAnnouncements {
  max-width: 24%;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}

.announcementContainer {
  max-width: 70%;
  padding-top: 2rem;
  padding-bottom: 2rem;

  display: flex;
  flex-grow: 1;

  @media screen and (max-width: 1440px) {
    max-width: 65%;
  }

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    padding-top: 1rem;
  }
}
