@import 'styles/uswdsDependencies';
@import 'styles/sfds/sfdsDependencies';

.announcement {
  position: relative;
  mix-blend-mode: normal;
  background-color: $white;
  padding: 0 1.5rem 0;

  border: 1px solid #929292;
  border-radius: units(1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  display: flex;
  justify-content: space-between;
}

.latestAnnouncements {
  // font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  color: $black;
  max-width: 24%;
}

.announcementContainer {
  max-width: 66%;
  max-height: 57%;
}
