@use 'uswds-core' as *;
@use 'styles/sfds/index.scss' as *;

.SingleArticle {
  margin-top: units(6);
  margin-bottom: units(4);

  max-width: 948px;

  .hero {
    width: 100%;
    max-height: 340px;
    object-fit: cover;
  }

  h2 {
    margin-bottom: units(2);
  }

  h2 + .metadata {
    margin-top: units(3);
  }

  h2.previewBanner {
    position: sticky;
    top: 0;
    text-align: center;
    background: var(--btn-secondary-bg);
    color: var(--btn-secondary-text);
  }

  .tagAndLabelContainer {
    display: flex;
    align-items: flex-start;
    a {
      text-decoration: none;
      &:not(:first-child) {
        margin-left: units(1);
      }
    }
  }

  .metadata {
    display: flex;
    margin-bottom: units(4);

    div {
      padding-right: 4rem;
    }

    dt {
      font-size: size('body', 1);
    }

    dd {
      font-weight: bold;
      margin: 0;
    }
  }
  iframe {
    border: none;
  }
}
