name: Docker Build Cache Save Artifact

on:
  workflow_dispatch:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md**'
    branches: [main]

jobs:
  build-and-push-dev-aws:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3
      - name: Get tag
        run: echo "RELEASE_VERSION=${GITHUB_REF:10}" >> $GITHUB_ENV
          
      - name: Docker setup buildx
        uses: docker/setup-buildx-action@ecf95283f03858871ff00b787d79c419715afc34 # v2
        id: buildx
        with:
          install: true

      - name: Build portal-client to e2e stage
        uses: docker/build-push-action@2eb1c1961a95fc15694676618e422e8ba1d63825 # v4
        with:
          context: .
          tags: portal-client:e2e
          cache-to: type=local,mode=max,dest=/tmp/portal-client,tag=e2e
          target: e2e

      - name: Upload portal-client cache dir
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        with:
          name: portal-client
          path: /tmp/portal-client

      - name: Upload portal-client manifest
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        with:
          name: portal-client-index
          path: /tmp/portal-client/index.json

      - name: Get docker image digest from manifest
        id: manifest
        run: |
          digest=$(cat /tmp/portal-client/index.json | jq -r '.manifests[0].digest')
          echo "docker_tag=${digest##sha256:}" >> $GITHUB_OUTPUT

      - name: Save docker cache to GHA cache using image digest as key
        uses: actions/cache/save@88522ab9f39a2ea568f7027eddc7d8d8bc9d59c8 # v3
        with:
          path: /tmp/portal-client
          key: ${{ runner.os }}-docker-portal-client-${{ steps.manifest.outputs.docker_tag }}
